https://catalog.data.gov/dataset/public-company-bankruptcy-cases-opened-and-monitored

Data updated June 18, 2019

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

# Extract

In [2]:
# Load CSV files

data09 = "bankruptcy_data/public_company_bankruptcy_cases_2009.csv"
data10 = "bankruptcy_data/public_company_bankruptcy_cases_2010.csv"
data11 = "bankruptcy_data/public_company_bankruptcy_cases_2011.csv"

In [3]:
# Read all data files and store into Pandas DataFrame

data09_df = pd.read_csv(data09)
data10_df = pd.read_csv(data10)
data11_df = pd.read_csv(data11)

# Transform

In [4]:
# Add fiscal year to each data frame

data09_df['FISCAL_YEAR'] = 2009
data10_df['FISCAL_YEAR'] = 2010
data11_df['FISCAL_YEAR'] = 2011

In [5]:
# Drop NAN values

data09_df = data09_df.dropna()
data10_df = data10_df.dropna()
data11_df = data11_df.dropna()

In [6]:
# Rearrenge columns of all data and reaname columns

data09_df = data09_df[['FISCAL_YEAR','STATE', 'COMPANY NAME', 'ASSETS (MILLIONS)','LIABILITIES (MILLIONS)', 'DISTRICT']] 
data09_df = data09_df.rename(columns= {'COMPANY NAME': 'COMPANY', 'ASSETS (MILLIONS)': 'ASSETS_MILLIONS', 'LIABILITIES (MILLIONS)':'LIABILITIES__MILLIONS', 'DISTRICT': 'COURT_DISTRICT'})

data10_df = data10_df[['FISCAL_YEAR','STATE', 'COMPANY NAME', 'ASSETS (MILLIONS)','LIABILITIES (MILLIONS)', 'DISTRICT']] 
data10_df = data10_df.rename(columns= {'COMPANY NAME': 'COMPANY', 'ASSETS (MILLIONS)': 'ASSETS_MILLIONS', 'LIABILITIES (MILLIONS)':'LIABILITIES__MILLIONS', 'DISTRICT': 'COURT_DISTRICT'})

data11_df = data11_df[['FISCAL_YEAR','STATE', 'COMPANY NAME', 'ASSETS (MILLIONS)','LIABILITIES (MILLIONS)', 'DISTRICT']] 
data11_df = data11_df.rename(columns= {'COMPANY NAME': 'COMPANY', 'ASSETS (MILLIONS)': 'ASSETS_MILLIONS', 'LIABILITIES (MILLIONS)':'LIABILITIES__MILLIONS', 'DISTRICT': 'COURT_DISTRICT'})

In [7]:
data09_df.info()
data10_df.info()
data11_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 127 entries, 0 to 128
Data columns (total 6 columns):
FISCAL_YEAR              127 non-null int64
STATE                    127 non-null object
COMPANY                  127 non-null object
ASSETS_MILLIONS          127 non-null float64
LIABILITIES__MILLIONS    127 non-null float64
COURT_DISTRICT           127 non-null object
dtypes: float64(2), int64(1), object(3)
memory usage: 6.9+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 63 entries, 1 to 63
Data columns (total 6 columns):
FISCAL_YEAR              63 non-null int64
STATE                    63 non-null object
COMPANY                  63 non-null object
ASSETS_MILLIONS          63 non-null object
LIABILITIES__MILLIONS    63 non-null object
COURT_DISTRICT           63 non-null object
dtypes: int64(1), object(5)
memory usage: 3.4+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 6 columns):
FISCAL_YEAR              62 non-null int64
STATE                    62 non-null object
COMPANY                  62 non-null object
ASSETS_MILLIONS          62 non-null object
LIABILITIES__MILLIONS    62 non-null object
COURT_DISTRICT           62 non-null object
dtypes: int64(1), object(5)
memory usage: 3.4+ KB

In [8]:
data10_df.dtypes

# Kore Holdings, Inc.
# Bridgetech Holdings International, Inc.
# Java Detour, Inc.
# Law Enforcement Associates Corporation
# Sand Spring Capital

FISCAL_YEAR               int64
STATE                    object
COMPANY                  object
ASSETS_MILLIONS          object
LIABILITIES__MILLIONS    object
COURT_DISTRICT           object
dtype: object

In [9]:
data10_df[data10_df['COMPANY'] == 'Spongetech Delivery Systems, Inc.']

,FISCAL_YEAR,STATE,COMPANY,ASSETS_MILLIONS,LIABILITIES__MILLIONS,COURT_DISTRICT
51,2010,NY,"Spongetech Delivery Systems, Inc.",0.50,----,SD

In [10]:
data11_df[data11_df['COMPANY'] == 'Bridgetech Holdings International, Inc.']

,FISCAL_YEAR,STATE,COMPANY,ASSETS_MILLIONS,LIABILITIES__MILLIONS,COURT_DISTRICT
10,2011,CA,"Bridgetech Holdings International, Inc.",--,7,SD

In [11]:
data10_df = data10_df.set_index('COMPANY')
data10_df = data10_df.drop('Spongetech Delivery Systems, Inc.', axis = 0)
data10_df = data10_df.drop('Kore Holdings, Inc.', axis = 0)
data10_df = data10_df.drop('U.S. Dry Cleaning Services Corporation', axis = 0)

data10_df= data10_df.reset_index()

In [12]:
data11_df = data11_df.set_index('COMPANY')
data11_df = data11_df.drop('Bridgetech Holdings International, Inc.', axis = 0)
data11_df = data11_df.drop('Java Detour, Inc.', axis = 0)
data11_df = data11_df.drop('Law Enforcement Associates Corporation', axis = 0)
data11_df = data11_df.drop('Sand Spring Capital', axis = 0)

data11_df= data11_df.reset_index()

In [13]:
data10_df[data10_df['COMPANY'] == 'Spongetech Delivery Systems, Inc.']

Empty DataFrame
Columns: [COMPANY, FISCAL_YEAR, STATE, ASSETS_MILLIONS, LIABILITIES__MILLIONS, COURT_DISTRICT]
Index: []

In [14]:
data11_df[data11_df['COMPANY'] == 'Bridgetech Holdings International, Inc.']

Empty DataFrame
Columns: [COMPANY, FISCAL_YEAR, STATE, ASSETS_MILLIONS, LIABILITIES__MILLIONS, COURT_DISTRICT]
Index: []

In [15]:
data10_df['ASSETS_MILLIONS'] = data10_df['ASSETS_MILLIONS'].str.replace(",","",regex = True).astype(float)
data10_df['LIABILITIES__MILLIONS'] = data10_df['LIABILITIES__MILLIONS'].str.replace(",","",regex = True).astype(float)

In [16]:
data10_df.dtypes
data10_df.head(10000)

,COMPANY,FISCAL_YEAR,STATE,ASSETS_MILLIONS,LIABILITIES__MILLIONS,COURT_DISTRICT
0,Advanta Group,2010,DE,363.00,331.000,D
1,"Amcore Financial, Inc.",2010,IL,7.00,75.000,ND
2,American Mortgage Acceptance Company,2010,NY,6.37,119.968,SD
3,"Barzel Industries, Inc.",2010,DE,366.00,385.000,D
4,Baseline Oil & Gas Corp.,2010,TX,80.00,139.000,SD
5,Blockbuster,2010,NY,1017.04,1464.940,SD
6,"BSML, Inc.",2010,FL,6.94,9.970,SD
7,"California Coastal Communities, Inc.",2010,CA,291.00,231.000,CD
8,"Canopy Financial, Inc.",2010,IL,18.99,25.840,ND
9,Capital Growth Systems Inc.,2010,DE,26.97,17.146,D
10,"Ceragenix Pharmaceuticals, Inc. et al.",2010,CO,1.50,12.960,D
11,"Certified Diabetic Services, Inc.",2010,FL,0.40,0.810,MD
12,Chem Rx Corp.,2010,DE,169.69,178.280,D
13,"CIB Maine Bancshares, Inc.",2010,WI,105.00,107.000,ED
14,Ciena Capitol LLC,2010,NY,521.00,584.000,SD
15,CIT Group Inc.,2010,NY,71019.20,64901.200,SD
16,Citadel Broadcastig Corp.,2010,NY,1400.58,2464.310,SD
17,"Corus Bankshares, Inc.",2010,IL,314.15,532.940,ND
18,Cross Canyon Energy Corp.,2010,TX,53.35,41.810,SD
19,"DiscoverNet, In.",2010,WI,701.00,403.000,WD
20,"ECO2 Plastics, Inc.",2010,CA,1.70,6.390,ND
21,Edge Petroleum Corp.,2010,TX,264.00,234.000,SD
22,FairPoint Communications,2010,NY,3235.60,3234.470,SD
23,FirstFed Financial Corp.,2010,CA,4.47,159.650,CD
24,Firstfold Corp.,2010,NV,17.96,26.980,D
25,GigaBeam Corp.,2010,DE,3.18,9.396,D
26,GSC Group,2010,NY,119.79,313.560,SD
27,GSI Group,2010,DE,555.00,370.000,D
28,"Guaranty Financial Group, Inc. et al.",2010,TX,15391.00,14390.000,ND
29,Imperial Capitol Bancorp Inc.,2010,CA,20.00,190.860,CA
30,"Isco International, Inc.",2010,IL,5.28,25.460,ND
31,Jennifer Covertibles Inc.,2010,NY,25.97,46.353,SD
32,"Jesup & Lamont, Inc. , JWA",2010,NY,41.15,24.564,SD
33,Kolorfusion International Inc.,2010,CO,596.70,2.490,D
34,"MDI, Inc.",2010,TX,5.18,2.990,WD
35,Medical Staffing Network,2010,FL,96.00,150.000,SD
36,"Mesa Air Group, Inc.",2010,NY,975.49,868.590,SD
37,"Neenah Enterprises, Inc.",2010,DE,286.61,449.100,D
38,NutraCea,2010,AZ,83.70,18.900,D
39,"Orleans Homebuilders, Inc.",2010,DE,591.46,560.130,D
40,Otter Tail AG Enterprises LLC,2010,MN,67.00,86.000,D
41,"PNG Ventures, Inc.",2010,DE,40.00,45.000,D
42,"Protective Products of America, Inc.",2010,FL,27.00,29.000,SD
43,"Provident Royalties, L.L.C et al.",2010,TX,443.31,466.050,ND
44,R & G Financial Corporation,2010,PR,40.00,421.000,D
45,Rancher Energy Corp.,2010,CO,32.30,11.580,D
46,RCLC,2010,NJ,16.37,10.371,D
47,"Regent Comms., Inc. , Riveria Holdings",2010,DE,166.51,68.490,D
48,South Texas Oil Company,2010,TX,49.07,27.900,WD
49,Stamford Industrial Group,2010,OH,62.20,14.310,ND
50,The Penn Traffic Company,2010,DE,150.38,136.870,D
51,TLC Vision Corp.,2010,DE,130.07,166.850,D
52,"Topspin Medical, Inc.",2010,DE,0.36,0.540,D
53,"Trico Marine Services, Triple Crown Media",2010,NY,535.20,472.700,SD
54,"U.S. Concrete, Inc.",2010,DE,389.16,399.350,D
55,Velocity Express Corp.,2010,DE,94.00,121.000,D
56,Vermillioin Inc.,2010,DE,7.15,32.015,D
57,"Vion Pharmaceuticals, Inc.",2010,DE,3030.85,2366.240,D
58,Visteon Corp.,2010,DE,4577.03,5324.030,D
59,"Xerium Technologies, Inc.",2010,DE,694.00,813.000,D

In [17]:
data11_df['ASSETS_MILLIONS'] = data11_df['ASSETS_MILLIONS'].str.replace(",","",regex = True).astype(float)
data11_df['LIABILITIES__MILLIONS'] = data11_df['LIABILITIES__MILLIONS'].str.replace(",","",regex = True).astype(float)

In [18]:
# Append data for all three years
appen1 =  data09_df.append(data10_df, ignore_index = True, sort = "false")
appen2 =  appen1.append(data11_df, ignore_index = True, sort = "false")

# Rearrenge columns of all data and reaname columns

appen2 = appen2[['FISCAL_YEAR','STATE', 'COMPANY', 'ASSETS_MILLIONS','LIABILITIES__MILLIONS', 'COURT_DISTRICT']] 

appen2.dtypes

FISCAL_YEAR                int64
STATE                     object
COMPANY                   object
ASSETS_MILLIONS          float64
LIABILITIES__MILLIONS    float64
COURT_DISTRICT            object
dtype: object

In [19]:
data09_clean = data09_df
data10_clean = data10_df
data11_clean = data11_df

combined_data = appen2

data09_clean.to_csv("bankruptcy_data/data09_clean.csv", index=False, encoding='utf8')
data10_clean.to_csv("bankruptcy_data/data10_clean.csv", index=False, encoding='utf8')
data11_clean.to_csv("bankruptcy_data/data11_clean.csv", index=False, encoding='utf8')
combined_data.to_csv("bankruptcy_data/combined_data.csv", index=False, encoding='utf8')

# Load

In [30]:
from pymongo import MongoClient
import sys
import json

In [31]:
# https://realpython.com/introduction-to-mongodb-and-python/
# Establish a connection

client = MongoClient('localhost',27017) ## Specify the port number

# Create or access a database. By default if the database is not found, it will created

db = client.bankruptcyDB

In [27]:
# Transform all dataframe to dictionaries

data09_clean_dict = data09_clean.to_dict('series')
data10_clean_dict = data10_clean.to_dict('series')
data11_clean_dict = data11_clean.to_dict('series')

print(data09_clean_dict)
print(data10_clean_dict)
print(data11_clean_dict)

{'FISCAL_YEAR': 0      2009
1      2009
2      2009
3      2009
4      2009
       ...
124    2009
125    2009
126    2009
127    2009
128    2009
Name: FISCAL_YEAR, Length: 127, dtype: int64, 'STATE': 0      FL
1      DE
2      FL
3      DE
4      NY
       ..
124    GA
125    DE
126    DE
127    DE
128    IL
Name: STATE, Length: 127, dtype: object, 'COMPANY': 0                                A21, Inc.
1                      Abitibibowater Inc.
2        Accentia Biopharmaceuticals, Inc.
3      Accredited Home Lenders Holding Co.
4                    Apex Silver Mines LTD
                      ...
124                         Vubotics, Inc.
125                 Washington Mutual Inc.
126               WCI Communications, Inc.
127                        Worldspace Inc.
128             Xechem International, Inc.
Name: COMPANY, Length: 127, dtype: object, 'ASSETS_MILLIONS': 0         25.20
1       9937.00
2        134.90
3        799.50
4        721.30
         ...
124        0.02
125    32896.60
126     2178.20
127        0.30
128        3.90
Name: ASSETS_MILLIONS, Length: 127, dtype: float64, 'LIABILITIES__MILLIONS': 0        30.3
1      2213.0
2        77.6
3       490.7
4       930.9
        ...
124       3.6
125    8167.0
126    1915.0
127       2.1
128      11.1
Name: LIABILITIES__MILLIONS, Length: 127, dtype: float64, 'COURT_DISTRICT': 0      MD
1       D
2      MD
3       D
4      SD
       ..
124    ND
125     D
126     D
127     D
128    ND
Name: COURT_DISTRICT, Length: 127, dtype: object}
{'COMPANY': 0                                 Advanta Group
1                        Amcore Financial, Inc.
2          American Mortgage Acceptance Company
3                       Barzel Industries, Inc.
4                      Baseline Oil & Gas Corp.
5                                   Blockbuster
6                                    BSML, Inc.
7          California Coastal Communities, Inc.
8                        Canopy Financial, Inc.
9                   Capital Growth Systems Inc.
10       Ceragenix Pharmaceuticals, Inc. et al.
11            Certified Diabetic Services, Inc.
12                                Chem Rx Corp.
13                   CIB Maine Bancshares, Inc.
14                            Ciena Capitol LLC
15                               CIT Group Inc.
16                    Citadel Broadcastig Corp.
17                       Corus Bankshares, Inc.
18                    Cross Canyon Energy Corp.
19                             DiscoverNet, In.
20                          ECO2 Plastics, Inc.
21                         Edge Petroleum Corp.
22                     FairPoint Communications
23                     FirstFed Financial Corp.
24                              Firstfold Corp.
25                               GigaBeam Corp.
26                                    GSC Group
27                                    GSI Group
28        Guaranty Financial Group, Inc. et al.
29                Imperial Capitol Bancorp Inc.
30                     Isco International, Inc.
31                    Jennifer Covertibles Inc.
32                   Jesup & Lamont, Inc. , JWA
33               Kolorfusion International Inc.
34                                    MDI, Inc.
35                     Medical Staffing Network
36                         Mesa Air Group, Inc.
37                     Neenah Enterprises, Inc.
38                                     NutraCea
39                   Orleans Homebuilders, Inc.
40                Otter Tail AG Enterprises LLC
41                           PNG Ventures, Inc.
42         Protective Products of America, Inc.
43            Provident Royalties, L.L.C et al.
44                  R & G Financial Corporation
45                         Rancher Energy Corp.
46                                         RCLC
47       Regent Comms., Inc. , Riveria Holdings
48                      South Texas Oil Company
49                    Stamford Industrial Group
50                     The Penn Traffic Company
51                             TLC Vision Corp.
52                        Topspin Medical, Inc.
53    Trico Marine Services, Triple Crown Media
54                          U.S. Concrete, Inc.
55                       Velocity Express Corp.
56                             Vermillioin Inc.
57                   Vion Pharmaceuticals, Inc.
58                                Visteon Corp.
59                    Xerium Technologies, Inc.
Name: COMPANY, dtype: object, 'FISCAL_YEAR': 0     2010
1     2010
2     2010
3     2010
4     2010
5     2010
6     2010
7     2010
8     2010
9     2010
10    2010
11    2010
12    2010
13    2010
14    2010
15    2010
16    2010
17    2010
18    2010
19    2010
20    2010
21    2010
22    2010
23    2010
24    2010
25    2010
26    2010
27    2010
28    2010
29    2010
30    2010
31    2010
32    2010
33    2010
34    2010
35    2010
36    2010
37    2010
38    2010
39    2010
40    2010
41    2010
42    2010
43    2010
44    2010
45    2010
46    2010
47    2010
48    2010
49    2010
50    2010
51    2010
52    2010
53    2010
54    2010
55    2010
56    2010
57    2010
58    2010
59    2010
Name: FISCAL_YEAR, dtype: int64, 'STATE': 0     DE
1     IL
2     NY
3     DE
4     TX
5     NY
6     FL
7     CA
8     IL
9     DE
10    CO
11    FL
12    DE
13    WI
14    NY
15    NY
16    NY
17    IL
18    TX
19    WI
20    CA
21    TX
22    NY
23    CA
24    NV
25    DE
26    NY
27    DE
28    TX
29    CA
30    IL
31    NY
32    NY
33    CO
34    TX
35    FL
36    NY
37    DE
38    AZ
39    DE
40    MN
41    DE
42    FL
43    TX
44    PR
45    CO
46    NJ
47    DE
48    TX
49    OH
50    DE
51    DE
52    DE
53    NY
54    DE
55    DE
56    DE
57    DE
58    DE
59    DE
Name: STATE, dtype: object, 'ASSETS_MILLIONS': 0       363.00
1         7.00
2         6.37
3       366.00
4        80.00
5      1017.04
6         6.94
7       291.00
8        18.99
9        26.97
10        1.50
11        0.40
12      169.69
13      105.00
14      521.00
15    71019.20
16     1400.58
17      314.15
18       53.35
19      701.00
20        1.70
21      264.00
22     3235.60
23        4.47
24       17.96
25        3.18
26      119.79
27      555.00
28    15391.00
29       20.00
30        5.28
31       25.97
32       41.15
33      596.70
34        5.18
35       96.00
36      975.49
37      286.61
38       83.70
39      591.46
40       67.00
41       40.00
42       27.00
43      443.31
44       40.00
45       32.30
46       16.37
47      166.51
48       49.07
49       62.20
50      150.38
51      130.07
52        0.36
53      535.20
54      389.16
55       94.00
56        7.15
57     3030.85
58     4577.03
59      694.00
Name: ASSETS_MILLIONS, dtype: float64, 'LIABILITIES__MILLIONS': 0       331.000
1        75.000
2       119.968
3       385.000
4       139.000
5      1464.940
6         9.970
7       231.000
8        25.840
9        17.146
10       12.960
11        0.810
12      178.280
13      107.000
14      584.000
15    64901.200
16     2464.310
17      532.940
18       41.810
19      403.000
20        6.390
21      234.000
22     3234.470
23      159.650
24       26.980
25        9.396
26      313.560
27      370.000
28    14390.000
29      190.860
30       25.460
31       46.353
32       24.564
33        2.490
34        2.990
35      150.000
36      868.590
37      449.100
38       18.900
39      560.130
40       86.000
41       45.000
42       29.000
43      466.050
44      421.000
45       11.580
46       10.371
47       68.490
48       27.900
49       14.310
50      136.870
51      166.850
52        0.540
53      472.700
54      399.350
55      121.000
56       32.015
57     2366.240
58     5324.030
59      813.000
Name: LIABILITIES__MILLIONS, dtype: float64, 'COURT_DISTRICT': 0      D
1     ND
2     SD
3      D
4     SD
5     SD
6     SD
7     CD
8     ND
9      D
10     D
11    MD
12     D
13    ED
14    SD
15    SD
16    SD
17    ND
18    SD
19    WD
20    ND
21    SD
22    SD
23    CD
24     D
25     D
26    SD
27     D
28    ND
29    CA
30    ND
31    SD
32    SD
33     D
34    WD
35    SD
36    SD
37     D
38     D
39     D
40     D
41     D
42    SD
43    ND
44     D
45     D
46     D
47     D
48    WD
49    ND
50     D
51     D
52     D
53    SD
54     D
55     D
56     D
57     D
58     D
59     D
Name: COURT_DISTRICT, dtype: object}
{'COMPANY': 0                       Ad Systems Communications, Inc.
1                                        Alphatrade.com
2                                 AMBAC Financial Group
3                       Ambassdors International , Inc.
4                American Pacific Financial Corporation
5                           AmericanWest Bancorporation
6                             Angiotech Pharmaceuticals
7                     Best Energy Services, Inc. et al.
8                                      Blockbuster Inc.
9                                    Borders Group Inc.
10                                        Cardima, Inc.
11                                      CDC Corporation
12                   Commonwealth Biotechnologies, Inc.
13                     Composite Technology Corporation
14                          Constar International, Inc.
15    Credit Based Asset Serviceing and Securitizati...
16                            Desert Capital REIT, Inc.
17                        DigitalPost Interactive, Inc.
18                                Evergreen Solar, Inc.
19                                         Gagle's Inc.
20                                      Geopharma, Inc.
21                                      GSC Group, Inc.
22                 Gulfstream International Group, Inc.
23                         Harry & David Holdings, Inc.
24                                        HearUSA, Inc.
25                                   ICOP Digital, Inc.
26                              Iron Mining Group, Inc.
27                      Jackson Hewitt Tax Service Inc.
28                           JAVO Beverage Company Inc.
29                     Kentucky USA Energy, Inc. et al.
30     Local Insight Media Holdings, Inc., Caribe Media
31                            LocatePLUS Holdings Corp.
32                                 Majestic Capital Ltd
33                               MF Global Holdings LTD
34              Molecular Insight Pharmaceuticals, Inc.
35            Omega Navigation Enterprises, Inc. et al.
36                               Plam Harbor Homes,Inc.
37                             Public Media Works, Inc.
38                                 QA3 Financial, Corp.
39                             Raser Technologies, Inc.
40                                            RCLC Inc.
41                                 Regen Biologics Inc.
42                         ReoStar Energy Corp., et al.
43                              RHI Entertainment, Inc.
44                         Riviera Holdings Corporation
45                        Seahawk Drilling, Inc. et al.
46                                    Shegda Tech, Inc.
47                                         Solyndra LLC
48                                   Star Buffett, Inc.
49                                    Tel Tronics, Inc.
50                      Tetragenex Pharmaceuticals Inc.
51       The Great Atlantic & Pacific Tea Company, Inc.
52                       Transdel Pharmaceuticals, Inc.
53                          Trico Marine Services, Inc.
54                          Vaso Active Pharmaceuticals
55                            Visual Management Systems
56                          Waste2Energy Holdings, Inc.
57                                  Wolverine Tube Inc.
Name: COMPANY, dtype: object, 'FISCAL_YEAR': 0     2011
1     2011
2     2011
3     2011
4     2011
5     2011
6     2011
7     2011
8     2011
9     2011
10    2011
11    2011
12    2011
13    2011
14    2011
15    2011
16    2011
17    2011
18    2011
19    2011
20    2011
21    2011
22    2011
23    2011
24    2011
25    2011
26    2011
27    2011
28    2011
29    2011
30    2011
31    2011
32    2011
33    2011
34    2011
35    2011
36    2011
37    2011
38    2011
39    2011
40    2011
41    2011
42    2011
43    2011
44    2011
45    2011
46    2011
47    2011
48    2011
49    2011
50    2011
51    2011
52    2011
53    2011
54    2011
55    2011
56    2011
57    2011
Name: FISCAL_YEAR, dtype: int64, 'STATE': 0      NV
1      NV
2      NY
3      DE
4      NV
5      WA
6      DE
7      TX
8      NY
9      NY
10    CA
11     GA
12     VA
13     CA
14     DE
15     NY
16     NV
17     CA
18     DE
19     GA
20    DFL
21     NY
22     FL
23     DE
24     FL
25     KS
26     NY
27     DE
28     DE
29     KY
30     DE
31     MA
32     NY
33     NY
34     MA
35     TX
36     DE
37     CA
38     NE
39     DE
40     NJ
41     DE
42     TX
43     NY
44     NV
45     TX
46     NV
47     DE
48     AZ
49     FL
50     NY
51     NY
52     CA
53     DE
54     DE
55     NJ
56     DE
57     DE
Name: STATE, dtype: object, 'ASSETS_MILLIONS': 0       405.00
1       686.00
2       395.00
3        86.44
4        19.18
5      1536.18
6       326.01
7        20.72
8      1017.04
9      1275.43
10      650.76
11      377.38
12        9.80
13        5.86
14      418.00
15       10.00
16       19.84
17      310.77
18      424.00
19       92.00
20       37.00
21      119.79
22       13.60
23      304.00
24       66.00
25        6.70
26        1.75
27      388.00
28       14.66
29        9.76
30      500.00
31        2.08
32      436.19
33    41000.00
34       36.45
35      527.00
36      321.26
37      873.25
38        2.08
39       41.84
40       16.37
41        1.50
42       21.03
43      524.72
44       12.45
45      505.00
46      295.43
47      859.00
48        1.06
49       10.25
50      133.03
51     2531.03
52        2.00
53       31.00
54      645.00
55      273.00
56        6.00
57      116.00
Name: ASSETS_MILLIONS, dtype: float64, 'LIABILITIES__MILLIONS': 0         4.00
1         4.00
2      1683.00
3        87.32
4       161.08
5      1537.97
6       622.00
7        30.58
8      1464.94
9      1293.11
10        1.02
11      250.18
12        4.90
13       12.40
14      414.00
15      170.00
16       40.22
17        2.35
18      486.00
19       63.00
20       34.00
21      313.56
22       26.00
23      361.00
24       65.00
25        4.36
26        6.26
27      444.00
28       26.71
29       10.19
30      558.00
31       10.47
32      421.76
33    39700.00
34      198.83
35      360.00
36      280.34
37        1.14
38        2.07
39      107.78
40       10.37
41        5.21
42       15.54
43      834.09
44      270.00
45      124.00
46      180.86
47      749.00
48       12.17
49       19.14
50        3.75
51     3210.97
52        2.00
53      354.00
54       10.19
55       12.25
56       17.00
57      238.00
Name: LIABILITIES__MILLIONS, dtype: float64, 'COURT_DISTRICT': 0      D
1      D
2     SD
3      D
4      D
5     ED
6      D
7      D
8     SD
9     SD
10    ND
11    ND
12    ED
13    CD
14     D
15    SD
16     D
17    CD
18     D
19    ND
20    MD
21    SD
22    SD
23     D
24    SD
25     D
26    SD
27     D
28     D
29    WD
30     D
31     D
32    SD
33    SD
34    ED
35    SD
36     D
37    CD
38     D
39     D
40     D
41     D
42    ND
43    SD
44     D
45    SD
46     D
47     D
48     D
49    MD
50    ED
51    SD
52    SD
53     D
54     D
55     D
56     D
57     D
Name: COURT_DISTRICT, dtype: object}

In [25]:
combined_data_dict = combined_data.to_dict('series')

In [26]:
combined_data_dict

{'FISCAL_YEAR': 0      2009
 1      2009
 2      2009
 3      2009
 4      2009
        ...
 240    2011
 241    2011
 242    2011
 243    2011
 244    2011
 Name: FISCAL_YEAR, Length: 245, dtype: int64, 'STATE': 0      FL
 1      DE
 2      FL
 3      DE
 4      NY
        ..
 240    DE
 241    DE
 242    NJ
 243    DE
 244    DE
 Name: STATE, Length: 245, dtype: object, 'COMPANY': 0                                A21, Inc.
 1                      Abitibibowater Inc.
 2        Accentia Biopharmaceuticals, Inc.
 3      Accredited Home Lenders Holding Co.
 4                    Apex Silver Mines LTD
                       ...
 240            Trico Marine Services, Inc.
 241            Vaso Active Pharmaceuticals
 242              Visual Management Systems
 243            Waste2Energy Holdings, Inc.
 244                    Wolverine Tube Inc.
 Name: COMPANY, Length: 245, dtype: object, 'ASSETS_MILLIONS': 0        25.2
 1      9937.0
 2       134.9
 3       799.5
 4       721.3
         ...
 240      31.0
 241     645.0
 242     273.0
 243       6.0
 244     116.0
 Name: ASSETS_MILLIONS, Length: 245, dtype: float64, 'LIABILITIES__MILLIONS': 0        30.30
 1      2213.00
 2        77.60
 3       490.70
 4       930.90
         ...
 240     354.00
 241      10.19
 242      12.25
 243      17.00
 244     238.00
 Name: LIABILITIES__MILLIONS, Length: 245, dtype: float64, 'COURT_DISTRICT': 0      MD
 1       D
 2      MD
 3       D
 4      SD
        ..
 240     D
 241     D
 242     D
 243     D
 244     D
 Name: COURT_DISTRICT, Length: 245, dtype: object}

In [34]:
# Create a collection in db (aka Table)

data09_collection = db.data2009
data10_collection = db.data2010
data11_collection = db.data2011

In [22]:
# def import_content(bankruptcy_data/combined_data.csv):
#     mng_client = pymongo.MongoClient('localhost', 27017)
#     mng_db = mng_client['PC_Bankruptcy09_11'] // Replace mongo db name
#     collection_name = 'CombinedData' // Replace mongo db collection name
#     db_cm = mng_db[CombinedData]
#     cdir = os.path.dirname(__file__)
#     file_res = os.path.join(cdir, filepath)

#     data = pd.read_csv(file_res)
#     data_json = json.loads(data.to_json(orient='records'))
#     db_cm.remove()
#     db_cm.insert(data_json)

# if __name__ == "__main__":
#   filepath = 'bankruptcy_data/combined_data.csv'  // pass csv file path
#   import_content(filepath)

NameError: name 'app' is not defined