# Dependencies

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import datetime

# Extract

## Load and Read CSV

In [2]:
# Load CSV files

institutions = "../financial_instituttions_data/institutions.csv"
locations = "../financial_instituttions_data/locations.csv"

# Read files and store into Pandas DataFrame
# Due to low memory error read https://stackoverflow.com/questions/24251219/pandas-read-csv-low-memory-and-dtype-options

institutions_df  = pd.read_csv(institutions,sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
locations_df = pd.read_csv(locations,sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [3]:
pd.set_option('display.max_columns', 500)
institutions_df.head()
locations_df.head()
locations_df.head()

,ADDRESS,BKCLASS,CBSA,CBSA_DIV,CBSA_DIV_FLG,CBSA_DIV_NO,CBSA_METRO,CBSA_METRO_FLG,CBSA_METRO_NAME,CBSA_MICRO_FLG,CBSA_NO,CERT,CITY,COUNTY,CSA,CSA_FLG,CSA_NO,ESTYMD,FI_UNINUM,MAINOFF,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
0,4500 WASHINGTON AVENUE,N,"Evansville, IN-KY",0,0,0,21780,1,"Evansville, IN-KY",0,21780,3832,EVANSVILLE,VANDERBURGH,0,0,0,10/03/1963,2492,0,Old National Bank,HEBRON PLACE BRANCH,8,09/04/2019,11,IN,18163,INDIANA,203604,47714
1,2202 NORTH SIXTH STREET,SM,"Vincennes, IN",0,0,0,0,0,0,1,47180,12368,VINCENNES,KNOX,0,0,0,11/01/1971,7866,0,Regions Bank,NORTH VINCENNES BRANCH,1636,09/04/2019,11,IN,18083,INDIANA,203651,47591
2,628 WEST MAIN STREET,NM,"Bedford, IN",0,0,0,0,0,0,1,13260,27744,MITCHELL,LAWRENCE,"Bloomington-Bedford, IN",1,144,10/01/1995,40578,0,MutualBank,MESSENGER SERVICE BRANCH,144,09/04/2019,27,IN,18093,INDIANA,203628,47446
3,"17 CHERRY TREE PLAZA, US HIGHWAY 50 EAST",NM,"Washington, IN",0,0,0,0,0,0,1,47780,17393,WASHINGTON,DAVIESS,0,0,0,03/15/1989,11392,0,German American Bank,WASHINGTON CHERRY TREE BRANCH,30,09/04/2019,11,IN,18027,INDIANA,203662,47501
4,"5321 COUNCIL STREET, N.E.",N,"Cedar Rapids, IA",0,0,0,16300,1,"Cedar Rapids, IA",0,16300,6548,CEDAR RAPIDS,LINN,"Cedar Rapids-Iowa City, IA",1,168,01/16/1978,4383,0,U.S. Bank National Association,CEDAR RAPIDS COUNCIL STREET BRANCH,568,09/04/2019,11,IA,19113,IOWA,203680,52402

# Transform Locations DF

## Drop & rearrenge

In [4]:
# Print all columns names
print(locations_df.columns.values)

['ADDRESS' 'BKCLASS' 'CBSA' 'CBSA_DIV' 'CBSA_DIV_FLG' 'CBSA_DIV_NO'
 'CBSA_METRO' 'CBSA_METRO_FLG' 'CBSA_METRO_NAME' 'CBSA_MICRO_FLG'
 'CBSA_NO' 'CERT' 'CITY' 'COUNTY' 'CSA' 'CSA_FLG' 'CSA_NO' 'ESTYMD'
 'FI_UNINUM' 'MAINOFF' 'NAME' 'OFFNAME' 'OFFNUM' 'RUNDATE' 'SERVTYPE'
 'STALP' 'STCNTY' 'STNAME' 'UNINUM' 'ZIP']

In [5]:
locations_df = locations_df.drop(columns = ['BKCLASS','CBSA_DIV','CBSA_DIV_FLG','CBSA_DIV_NO',\
 'CBSA_METRO','CBSA_METRO_FLG','CBSA_METRO_NAME','CBSA_MICRO_FLG',\
   'CSA','CSA_FLG','CSA_NO','ESTYMD',\
  'MAINOFF'])

In [6]:
locations_df.head()

,ADDRESS,CBSA,CBSA_NO,CERT,CITY,COUNTY,FI_UNINUM,NAME,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,STNAME,UNINUM,ZIP
0,4500 WASHINGTON AVENUE,"Evansville, IN-KY",21780,3832,EVANSVILLE,VANDERBURGH,2492,Old National Bank,HEBRON PLACE BRANCH,8,09/04/2019,11,IN,18163,INDIANA,203604,47714
1,2202 NORTH SIXTH STREET,"Vincennes, IN",47180,12368,VINCENNES,KNOX,7866,Regions Bank,NORTH VINCENNES BRANCH,1636,09/04/2019,11,IN,18083,INDIANA,203651,47591
2,628 WEST MAIN STREET,"Bedford, IN",13260,27744,MITCHELL,LAWRENCE,40578,MutualBank,MESSENGER SERVICE BRANCH,144,09/04/2019,27,IN,18093,INDIANA,203628,47446
3,"17 CHERRY TREE PLAZA, US HIGHWAY 50 EAST","Washington, IN",47780,17393,WASHINGTON,DAVIESS,11392,German American Bank,WASHINGTON CHERRY TREE BRANCH,30,09/04/2019,11,IN,18027,INDIANA,203662,47501
4,"5321 COUNCIL STREET, N.E.","Cedar Rapids, IA",16300,6548,CEDAR RAPIDS,LINN,4383,U.S. Bank National Association,CEDAR RAPIDS COUNCIL STREET BRANCH,568,09/04/2019,11,IA,19113,IOWA,203680,52402

In [7]:
# Rearrenge columns where I only care the first 3 

new_cols = ['NAME', 'CITY', 'STNAME'] + [c for c in locations_df.columns if c not in ['NAME', 'CITY', 'STNAME']]
                                    

# Re-index after rearrenging
locations_df = locations_df.reindex(columns = new_cols)
locations_df

,NAME,CITY,STNAME,ADDRESS,CBSA,CBSA_NO,CERT,COUNTY,FI_UNINUM,OFFNAME,OFFNUM,RUNDATE,SERVTYPE,STALP,STCNTY,UNINUM,ZIP
0,Old National Bank,EVANSVILLE,INDIANA,4500 WASHINGTON AVENUE,"Evansville, IN-KY",21780,3832,VANDERBURGH,2492,HEBRON PLACE BRANCH,8,09/04/2019,11,IN,18163,203604,47714
1,Regions Bank,VINCENNES,INDIANA,2202 NORTH SIXTH STREET,"Vincennes, IN",47180,12368,KNOX,7866,NORTH VINCENNES BRANCH,1636,09/04/2019,11,IN,18083,203651,47591
2,MutualBank,MITCHELL,INDIANA,628 WEST MAIN STREET,"Bedford, IN",13260,27744,LAWRENCE,40578,MESSENGER SERVICE BRANCH,144,09/04/2019,27,IN,18093,203628,47446
3,German American Bank,WASHINGTON,INDIANA,"17 CHERRY TREE PLAZA, US HIGHWAY 50 EAST","Washington, IN",47780,17393,DAVIESS,11392,WASHINGTON CHERRY TREE BRANCH,30,09/04/2019,11,IN,18027,203662,47501
4,U.S. Bank National Association,CEDAR RAPIDS,IOWA,"5321 COUNCIL STREET, N.E.","Cedar Rapids, IA",16300,6548,LINN,4383,CEDAR RAPIDS COUNCIL STREET BRANCH,568,09/04/2019,11,IA,19113,203680,52402
5,"Midwest Heritage Bank, FSB",WINDSOR HEIGHTS,IOWA,7101 UNIVERSITY,"Des Moines-West Des Moines, IA",19780,4432,POLK,2928,WINDSOR HEIGHTS BRANCH,5,09/04/2019,11,IA,19153,203686,50311
6,First Citizens Bank,LATIMER,IOWA,117 NORTH AKIR,0,0,4433,FRANKLIN,2929,LATIMER BRANCH,7,09/04/2019,11,IA,19069,203692,50452
7,Old National Bank,HENDERSON,KENTUCKY,301 SECOND STREET,"Evansville, IN-KY",21780,3832,HENDERSON,2492,301 SECOND STREET BRANCH,81,09/04/2019,11,KY,21101,203616,42420
8,Fifth Third Bank,TELL CITY,INDIANA,45 HIGHWAY 66 EAST,0,0,6672,PERRY,4470,TELL CITY PLAZA BRANCH,953,09/04/2019,11,IN,18123,203645,47586
9,Regions Bank,BICKNELL,INDIANA,104 W. 11TH STREET,"Vincennes, IN",47180,12368,KNOX,7866,BICKNELL BRANCH,1637,09/04/2019,11,IN,18083,203653,47512
10,First National Bank,PLAINFIELD,IOWA,620 1ST STREET,"Waterloo-Cedar Falls, IA",47940,4519,BREMER,2987,PLAINFIELD BRANCH,2,09/04/2019,11,IA,19017,203779,50666
11,U.S. Bank National Association,COUNCIL BLUFFS,IOWA,2901 WEST BROADWAY,"Omaha-Council Bluffs, NE-IA",36540,6548,POTTAWATTAMIE,4383,WESTSIDE BRANCH,1638,09/04/2019,11,IA,19155,203698,51501
12,Crawford County Trust and Savings Bank,KIMBALLTON,IOWA,105 N MAIN STREET,0,0,8511,AUDUBON,5421,KIMBALLTON BRANCH,3,09/04/2019,11,IA,19009,203739,51543
13,Pony Express Bank,LIBERTY,MISSOURI,215 NORTH 291 HIGHWAY,"Kansas City, MO-KS",28140,4526,CLAY,2992,LIBERTY BRANCH,3,09/04/2019,11,MO,29047,203784,64068
14,Oakstar Bank,LAKE OZARK,MISSOURI,2128 BAGNELL DAM BLVD.,0,0,58115,CAMDEN,439984,LAKE OZARK BRANCH,13,09/04/2019,11,MO,29029,203828,65049
15,HNB National Bank,PALMYRA,MISSOURI,203 SOUTH MAIN,"Hannibal, MO",25300,4540,MARION,3004,PALMYRA BANKING FACILITY,2,09/04/2019,11,MO,29127,203819,63461
16,Oakstar Bank,OSAGE BEACH,MISSOURI,5127 OSAGE BEACH PARKWAY,0,0,58115,CAMDEN,439984,OSAGE BEACH BRANCH,11,09/04/2019,11,MO,29029,203825,65065
17,"Bank of America, National Association",CLAYTON,MISSOURI,7800 FORSYTH BLVD,"St. Louis, MO-IL",41180,3510,ST. LOUIS,2238,CLAYTON FACILITY BRANCH,4769,09/04/2019,11,MO,29189,203858,63105
18,Central Bank of Sedalia,SEDALIA,MISSOURI,400 WEST BROADWAY STREET,"Sedalia, MO",42740,4569,PETTIS,3027,MOTOR BRANCH,1,09/04/2019,23,MO,29159,203867,65301
19,Citizens Bank and Trust Company,CHILLICOTHE,MISSOURI,LOCUST AND CLAY STREET,0,0,4533,LIVINGSTON,2999,DRIVE-THRU FACILITY,10,09/04/2019,23,MO,29117,203797,64601
20,Landmark Bank,COLUMBIA,MISSOURI,3421 GRINDSTONE PARKWAY,"Columbia, MO",17860,4537,BOONE,3002,COLUMBIA - 63 SOUTH BRANCH,5,09/04/2019,11,MO,29019,203814,65201
21,Central Bank of Sedalia,SEDALIA,MISSOURI,3000 WEST BROADWAY,"Sedalia, MO",42740,4569,PETTIS,3027,TNB III BRANCH,2,09/04/2019,23,MO,29159,203868,65301
22,Central Bank of Boone County,COLUMBIA,MISSOURI,505 EAST NIFONG BOULEVARD,"Columbia, MO",17860,4536,BOONE,3001,ROCKBRIDGE FACILITY,3,09/04/2019,12,MO,29019,203804,65201
23,Landmark Bank,COLUMBIA,MISSOURI,109 EAST NIFONG BOULEVARD,"Columbia, MO",17860,4537,BOONE,3002,ROCK BRIDGE BRANCH,3,09/04/2019,11,MO,29019,203812,65203
24,Landmark Bank,COLUMBIA,MISSOURI,3100 PARIS ROAD,"Columbia, MO",17860,4537,BOONE,3002,ROUTE B BRANCH,6,09/04/2019,11,MO,29019,203815,65202
25,Hawthorn Bank,JEFFERSON CITY,MISSOURI,800 EASTLAND DRIVE,"Jefferson City, MO",27620,10619,COLE,6806,EAST FACILITY,27,09/04/2019,11,MO,29051,203822,65101
26,"Bank of America, National Association",NASSAU,NaN,"SHIRLEY STREET, BEAUMONT HOUSE",0,0,3510,NOT SUPPLIED,2238,NASSAU BRANCH (FRGN),4733,09/04/2019,11,NaN,00,203849,00000
27,U.S. Bank National Association,SAINT JOSEPH,MISSOURI,3115 ASHLAND AVENUE,"St. Joseph, MO-KS",41140,6548,BUCHANAN,4383,ASHLAND & LOVERS LANE BRANCH,1388,09/04/2019,11,MO,29021,203921,64506
28,U.S. Bank National Association,JOPLIN,MISSOURI,2801 EAST 32ND STREET,"Joplin, MO",27900,6548,JASPER,4383,SOUTHEAST BRANCH,1084,09/04/2019,11,MO,29097,203897,64804
29,"Bank of America, National Association",BLUE SPRINGS,MISSOURI,1104 SW ST HWY 7,"Kansas City, MO-KS",28140,3510,JACKSON,2238,BLUE SPRINGS SOUTH BRANCH,4828,09/04/2019,11,MO,29095,203906,64014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88790,The Bank of Marion,MARION,VIRGINIA,111 N CHURCH ST,0,0,9507,SMYTH,6107,REGIONAL MORTGAGE CENTER,16,09/04/2019,11,VA,51173,614716,24354
88791,Security Bank & Trust Company,SAINT PAUL,MINNESOTA,1048 MEADOWLANDS DR,"Minneapolis-St. Paul-Bloomington, MN-WI",33460,15324,RAMSEY,9660,LIMITED TRUST SERVICE BRANCH,16,09/04/2019,30,MN,27123,614720,55127
88792,Hancock Whitney Bank,FAIRHOPE,ALABAMA,504 FAIRHOPE AVENUE,"Daphne-Fairhope-Foley, AL",19300,12441,BALDWIN,7921,Fairhope Financial Center,365,09/04/2019,11,AL,01003,614725,36532
88793,"JPMorgan Chase Bank, National Association",BROOKSVILLE,FLORIDA,12300 CORTEZ BLVD,"Tampa-St. Petersburg-Clearwater, FL",45300,628,HERNANDO,417,Cortez and Weeping Willow,8277,09/04/2019,11,FL,12053,614790,34613
88794,"JPMorgan Chase Bank, National Association",WATERTOWN,MASSACHUSETTS,550 ARSENAL ST,"Boston-Cambridge-Newton, MA-NH",14460,628,MIDDLESEX,417,Watertown Mall,8281,09/04/2019,11,MA,25017,614794,02472
88795,"JPMorgan Chase Bank, National Association",MALIBU,CALIFORNIA,"23841 MALIBU RD, UNIT 20","Los Angeles-Long Beach-Anaheim, CA",31080,628,LOS ANGELES,417,PCH and Webb,8294,09/04/2019,11,CA,06037,614807,90265
88796,Oostburg State Bank,OOSTBURG,WISCONSIN,20 S BUSINESS PARK DR,"Sheboygan, WI",43100,10380,SHEBOYGAN,6651,Loan Processing,2,09/04/2019,21,WI,55117,614812,53070
88797,"Sterling Bank and Trust, FSB",FLUSHING,NEW YORK,39-02 MAIN ST,"New York-Newark-Jersey City, NY-NJ-PA",35620,32232,QUEENS,45066,FLUSHING BRANCH,161,09/04/2019,11,NY,36081,614821,11354
88798,Branch Banking and Trust Company,WARRENTON,VIRGINIA,236 W LEE HWY,"Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,9846,FAUQUIER,6300,DRIVE IN TEMP UNTIL BRANCH FIXED,3221,09/04/2019,23,VA,51061,614825,20186
88799,"Atlantic Capital Bank, National Association",ATHENS,GEORGIA,"1550 TIMOTHY ROAD, 2ND FLOOR","Athens-Clarke County, GA",12020,35525,CLARKE,81319,Athens,46,09/04/2019,11,GA,13059,615244,30606
88800,First National Bank of Waterloo,SMITHTON,ILLINOIS,4053 STATE ROUTE 159,"St. Louis, MO-IL",41180,3842,ST. CLAIR,2499,SMITHTON BRANCH,11,09/04/2019,11,IL,17163,615828,62285
88801,Monroe Bank & Trust,PLYMOUTH,MICHIGAN,"41128 ANN ARBOR ROAD, UNIT 5","Detroit-Warren-Dearborn, MI",19820,12181,WAYNE,7735,Plymouth Branch,30,09/04/2019,11,MI,26163,616479,48170
88802,Community Bank of Mississippi,FORT WALTON BEACH,FLORIDA,448 EGLIN PARKWAY,"Crestview-Fort Walton Beach-Destin, FL",18880,8879,OKALOOSA,5671,Fort Walton Beach Branch,69,09/04/2019,11,FL,12091,616490,32547
88803,"JPMorgan Chase Bank, National Association",CARDIFF BY THE SEA,CALIFORNIA,2003 SAN ELIJO AVE,"San Diego-Carlsbad, CA",41740,628,SAN DIEGO,417,Cardiff by the Sea,8293,09/04/2019,11,CA,06073,614806,92007
88804,Security Bank,BLOOMER,WISCONSIN,1923 17TH AVENUE,"Eau Claire, WI",20740,10015,CHIPPEWA,6404,Bloomer Office,4,09/04/2019,11,WI,55017,614811,54724
88805,Crews Bank & Trust,ARCADIA,FLORIDA,2747 S.E. HIGHWAY 70,"Arcadia, FL",11580,21163,DESOTO,14631,East Office,3,09/04/2019,11,FL,12027,614841,34266
88806,Great Plains National Bank,OKLAHOMA CITY,OKLAHOMA,6701 N. BROADWAY,"Oklahoma City, OK",36420,34207,OKLAHOMA,56965,Great Plains National Bank,25,09/04/2019,11,OK,40109,615831,73116
88807,United Community Bank,RALEIGH,NORTH CAROLINA,4711 SIX FORKS ROAD,"Raleigh, NC",39580,16889,WAKE,10978,Six Forks Road,195,09/04/2019,11,NC,37183,615835,27609
88808,United Southern Bank,WILDWOOD,FLORIDA,1017 US HIGHWAY 301,"The Villages, FL",45540,15465,SUMTER,9773,Wildwood Branch,14,09/04/2019,11,FL,12119,616482,34785
88809,"Bank of America, National Association",TAYLORSVILLE,UTAH,5372 S. REDWOOD RD,"Salt Lake City, UT",41620,3510,SALT LAKE,2238,Taylorsville,9914,09/04/2019,11,UT,49035,616510,84123
88810,"JPMorgan Chase Bank, National Association",CHESTNUT HILL,MASSACHUSETTS,21 BOYLSTON ST,"Boston-Cambridge-Newton, MA-NH",14460,628,MIDDLESEX,417,Chestnut Hill The Street,8291,09/04/2019,11,MA,25017,614804,02467
88811,Essex Bank,EDGEWATER,MARYLAND,3062 SOLOMONS ISLAND RD,"Baltimore-Columbia-Towson, MD",12580,8675,ANNE ARUNDEL,5529,EDGEWATER BRANCH,36,09/04/2019,11,MD,24003,614808,21037
88812,"JPMorgan Chase Bank, National Association",WASHINGTON,DISTRICT OF COLUMBIA,"1555 MARYLAND AVENUE, NE","Washington-Arlington-Alexandria, DC-VA-MD-WV",47900,628,DISTRICT OF COLUMBIA,417,Benning Road and 17th Street NE,8297,09/04/2019,11,DC,11001,615229,20002
88813,"JPMorgan Chase Bank, National Association",OCALA,FLORIDA,2610 NW 46TH TER,"Ocala, FL",36100,628,MARION,417,US 27 and 49th Avenue,8301,09/04/2019,11,FL,12083,615233,34482
88814,"The First, A National Banking Association",PETAL,MISSISSIPPI,"100 EASTBROOK DRIVE, SUITE 190","Hattiesburg, MS",25620,34217,FORREST,56975,Petal Branch,84,09/04/2019,11,MS,28035,615254,39465
88815,Piedmont Federal Savings Bank,HIGH POINT,NORTH CAROLINA,3870 JOHN GORDON LANE,"Greensboro-High Point, NC",24660,27619,GUILFORD,40453,Piedmont Federal Savings Bank-Palladium Branch,103,09/04/2019,11,NC,37081,616500,27265
88816,"Home Bank, National Association",JEFFERSON,LOUISIANA,1105 S CLEARVIEW PKWY,"New Orleans-Metairie, LA",35380,28094,JEFFERSON,40928,CLEARVIEW BRANCH,53,09/04/2019,11,LA,22051,616590,70121
88817,"Northwestern Bank, National Association",FERGUS FALLS,MINNESOTA,402 W LINCOLN AVE,"Fergus Falls, MN",22260,9746,OTTER TAIL,6234,Northwestern Bank NA,5,09/04/2019,11,MN,27111,614809,56537
88818,Penn Community Bank,LANGHORNE,PENNSYLVANIA,200 MANOR AVE,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,30401,BUCKS,43235,Cairn University,126,09/04/2019,29,PA,42017,614819,19047
88819,"Wells Fargo Bank, National Association",BROOKLYN CENTER,MINNESOTA,5620 BROOKLYN BOULEVARD,"Minneapolis-St. Paul-Bloomington, MN-WI",33460,3511,HENNEPIN,2239,BROOKDALE BRANCH,10468,09/04/2019,11,MN,27053,616488,55429

# Transform Institutions DF

## Drop, fill, rearrenge

In [8]:
# Display DF
institutions_df

,STNAME,CERT,DOCKET,ACTIVE,ADDRESS,ASSET,BKCLASS,CHANGEC1,CHANGEC2,CHANGEC3,CHANGEC4,CHANGEC5,CHANGEC6,CHANGEC7,CHANGEC8,CHANGEC9,CHANGEC10,CHANGEC11,CHANGEC12,CHANGEC13,CHANGEC14,CHANGEC15,CHARTER,CHRTAGNT,CONSERVE,CITY,CLCODE,CMSA_NO,CMSA,COUNTY,DATEUPDT,DENOVO,DEP,EFFDATE,ENDEFYMD,EQ,ESTYMD,FDICDBS,FDICREGN,FDICSUPV,FED,FED_RSSD,FEDCHRTR,FLDOFF,IBA,INACTIVE,INSAGNT1,INSAGNT2,INSDATE,INSTCRCD,INSBIF,INSCOML,INSDIF,INSFDIC,INSSAIF,INSSAVE,MSA_NO,MSA,NAME,NEWCERT,OAKAR,OTSDIST,OTSREGNM,PROCDATE,QBPRCOML,REGAGNT,REPDTE,RISDATE,STCHRTR,ROA,ROAQ,ROE,ROEQ,RUNDATE,SASSER,LAW_SASSER_FLG,STALP,STCNTY,STNUM,ZIP,SUPRV_FD,OCCDIST,UNINUM,ULTCERT,CFPBEFFDTE,CFPBENDDTE,CFPBFLAG,REGAGENT2,TE01N528,TE02N528,TE03N528,TE04N528,TE05N528,TE06N528,TE07N528,TE08N528,TE09N528,TE10N528,TE01N529,TE02N529,TE03N529,TE04N529,TE05N529,TE06N529,WEBADDR,OFFICES,CERTCONS,PARCERT,CITYHCR,DEPDOM,FORM31,HCTMULT,INSTAG,MUTUAL,NAMEHCR,NETINC,NETINCQ,OFFDOM,OFFFOR,OFFOA,RSSDHCR,STALPHCR,STMULT,SUBCHAPS,ROAPTX,ROAPTXQ,TRUST,SPECGRP,SPECGRPN,TRACT,CSA,CSA_NO,CSA_FLG,CBSA,CBSA_NO,CBSA_METRO_NAME,CBSA_METRO,CBSA_METRO_FLG,CBSA_MICRO_FLG,CBSA_DIV,CBSA_DIV_NO,CBSA_DIV_FLG,CB
0,PENNSYLVANIA,15698,0,0,401 WEST LANCASTER AVENUE,NaN,SB,213,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,HAVERFORD,42,77,"Philadelphia-Wilmington-Atlantic City, PA-NJ-D...",MONTGOMERY,04/07/1982,NaN,NaN,04/03/1982,04/03/1982,NaN,01/01/1847,2,NEW YORK,NEW YORK,3,897116,0,PHILADELPHIA,0,1,BIF,NaN,11/21/1939,0,1,0,NaN,1,NaN,0,6160,"Philadelphia, PA-NJ PMSA",The Western Saving Fund Society of Philadelphia,15750,0,1,NORTHEAST,04/07/1982,1,FDIC,NaN,NaN,1,NaN,NaN,NaN,NaN,09/04/2019,0,N,PA,42091,42,19041,2,1,9966,7946,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Error in Specialization Group,NaN,"Philadelphia-Reading-Camden, PA-NJ-DE-MD",428,1,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",37980,1,0,"Montgomery County-Bucks County-Chester County, PA",33874,1,NaN
1,SOUTH CAROLINA,15716,0,0,MAIN STREET,5045,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,SUMMERTON,21,0,NaN,CLARENDON,10/23/1985,0,4412,09/16/1985,09/16/1985,585,09/11/1934,5,ATLANTA,ATLANTA,5,577221,0,COLUMBIA SC,0,1,BIF,NaN,01/15/1940,0,1,1,0,1,NaN,0,0,NaN,Bank of Summerton,2111,0,2,SOUTHEAST,10/23/1985,2,FDIC,06/30/1985,06/30/1985,1,2.08,3.42,19.09,30.52,09/04/2019,0,N,SC,45027,45,29148,5,1,9979,873,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,4412,0,0,0,0,0,52,43,1,0,0,0,0,0,0,2.45,4.05,1,7,Other Specialized Under 1 Billion,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
2,TEXAS,15721,0,0,823 CONGRESS AVENUE,345518,N,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14728,OCC,N,AUSTIN,3,0,NaN,TRAVIS,11/03/1992,0,331568,10/30/1992,10/30/1992,6972,06/05/1936,13,DALLAS,DALLAS,11,7353,1,AUSTIN,0,1,BIF,NaN,02/21/1940,0,1,1,0,1,NaN,0,640,"Austin-San Marcos, TX MSA","First City, Texas - Austin, National Association",33714,0,5,WEST,11/03/1992,5,OCC,09/30/1992,09/30/1992,0,-2.07,-0.45,-91.84,-22.36,09/04/2019,0,N,TX,48453,48,78767,13,5,9983,5510,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,HOUSTON,331568,0,1,0,0,"FIRST CITY BANCORPORATION OF TEXAS, INC.",-5930,-401,3,0,0,1249338,TX,0,0,-2.05,-0.44,1,4,Commercial Lending Specialization,0,0,0,0,"Austin-Round Rock, TX",12420,"Austin-Round Rock, TX",12420,1,0,0,0,0,0
3,IOWA,15736,0,0,606 WEST MILWAUKEE,206135,SM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,NEW HAMPTON,13,0,NaN,CHICKASAW,04/07/2011,0,188024,03/31/2011,03/31/2011,16414,06/16/1937,11,KANSAS CITY,KANSAS CITY,7,668848,0,CEDAR RAPIDS,0,1,DIF,NaN,04/15/1940,0,0,1,1,1,NaN,0,0,NaN,BANK IOWA,14521,0,4,WESTERN,04/07/2011,4,FED,12/31/2010,12/31/2010,1,1.09,0.75,13.58,9.09,09/04/2019,0,N,IA,19037,19,50659,11,4,9992,14521,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://www.bankiowabanks.com/lawler,NaN,0,0,WEST DES MOINES,188024,0,1,1,0,BANK IOWA CORPORATION,2193,378,4,0,0,1202762,IA,0,1,1.13,0.76,1,2,Agricultural Specialization,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
4,IOWA,15368,0,0,1306 18TH STREET,38799,SM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,SPIRIT LAKE,13,0,NaN,DICKINSON,01/31/2003,0,26764,10/28/2002,10/28/2002,2615,01/01/1935,11,KANSAS CITY,KANSAS CITY,7,810142,0,SIOUX CITY,0,1,BIF,NaN,03/24/1936,0,1,1,0,1,NaN,0,0,NaN,Security State Bank,15555,0,4,WESTERN,01/31/2003,4,FED,09/30/2002,09/30/2002,1,3.27,-0.05,46.44,-0.68,09/04/2019,0,N,IA,19059,19,51360,11,4,9695,15555,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WWW.CENTRALBANKFDIC.COM,NaN,0,0,STORM LAKE,26764,0,1,0,0,COMMERCIAL FINANCIAL CORP,1059,-5,1,0,0,1978674,IA,0,0,5.44,0.71,1,4,Commercial Lending Specialization,0,0,0,0,"Spirit Lake, IA",44020,0,0,0,1,0,0,0,1
5,KANSAS,15385,0,0,MAIN STREET,23986,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,EFFINGHAM,21,0,NaN,ATCHISON,09/27/1999,0,21066,09/10/1999,09/10/1999,2469,06/05/1905,11,KANSAS CITY,KANSAS CITY,10,977456,0,KANSAS CITY,0,1,BIF,NaN,05/14/1936,0,1,1,0,1,NaN,0,0,NaN,"The Farmers and Merchants State Bank, Effingha...",4619,0,4,WESTERN,09/27/1999,4,FDIC,06/30/1999,06/30/1999,1,1.37,1.41,13.21,13.57,09/04/2019,0,N,KS,20005,20,66023,11,4,9707,4619,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,ATCHISON,21066,0,1,1,0,EXCHANGE BANKSHARES CORPORATION OF KANSAS,165,85,1,0,0,1054000,KS,0,0,1.97,2.02,0,2,Agricultural Specialization,0,"Kansas City-Overland Park-Kansas City, MO-KS",312,1,"Atchison, KS",11860,0,0,0,1,0,0,0,1
6,FLORIDA,15391,0,0,114 NORTH J STREET,119732,N,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14356,OCC,N,LAKE WORTH,3,0,NaN,PALM BEACH,10/12/1979,0,108357,09/29/1979,09/29/1979,"10,183",06/01/1936,5,ATLANTA,ATLANTA,6,660936,1,SOUTH FLORIDA,0,1,BIF,NaN,06/01/1936,0,1,1,0,1,NaN,0,8960,"West Palm Beach-Boca Raton, FL MSA",First Marine National Bank and Trust Company o...,17018,0,2,SOUTHEAST,10/12/1979,2,OCC,06/30/1979,06/30/1979,0,0,0,0,0,09/04/2019,0,N,FL,12099,12,33460,5,5,9711,3510,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,108357,0,0,0,0,0,501,0,4,0,0,0,0,0,0,0,0,1,7,Other Specialized Under 1 Billion,0,"Miami-Fort Lauderdale-Port St. Lucie, FL",370,1,"Miami-Fort Lauderdale-West Palm Beach, FL",33100,"Miami-Fort Lauderdale-West Palm Beach, FL",33100,1,0,"West Palm Beach-Boca Raton-Delray Beach, FL",48424,1,0
7,NEBRASKA,15419,0,0,BAILEY STREET,16063,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,STRATTON,21,0,NaN,HITCHCOCK,10/07/2003,0,14031,09/08/2003,09/08/2003,1670,01/01/1887,11,KANSAS CITY,KANSAS CITY,10,658456,0,GRAND ISLAND,0,1,BIF,NaN,01/01/1934,0,1,1,0,1,NaN,0,0,NaN,Commercial Bank,5434,0,5,WEST,10/07/2003,4,FDIC,06/30/2003,06/30/2003,1,0.82,0.69,8.07,6.78,09/04/2019,0,N,NE,31087,31,69043,11,4,9735,5434,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,STRATTON,14031,0,0,1,0,"STRATTON AGENCY, INC.",66,28,1,0,0,1057449,NE,0,0,1.07,0.91,0,2,Agricultural Specialization,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
8,WASHINGTON,15430,0,0,103 EAST WASHINGTON AVENUE,23870,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,SEQUIM,21,0,NaN,CLALLAM,08/27/1976,0,21434,08/24/1976,08/24/1976,"1,749",10/08/1936,14,SAN FRANCISCO,SAN FRANCISCO,12,76573,0,SEATTLE,0,1,BIF,NaN,10/26/1936,0,1,1,0,1,NaN,0,0,NaN,Bank of Sequim,2970,0,5,WEST,08/27/1976,6,FDIC,06/30/1976,06/30/1976,1,0,0,0,0,09/04/2019,0,N,WA,53009,53,98382,14,4,9744,3510,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,21434,0,0,0,0,0,130,0,3,0,0,0,0,0,0,0,0,0,6,Consumer Lending Specialization,0,0,0,0,"Port Angeles, WA",38820,0,0,0,1,0,0,0,0
9,NORTH DAKOTA,15445,11636,0,"20 FIRST STREET, S.W.",415456,N,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23297,OCC,N,MINOT,3,0,NaN,WARD,09/30/2004,0,326056,08/23/2004,08/23/2004,26666,01/01/1934,11,KANSAS CITY,KANSAS CITY,9,760555,1,FARGO,0,1,BIF,NaN,01/01/1934,0,1,1,0,1,NaN,0,0,NaN,"Bremer Bank, National Association",34380,0,5,WEST,09/30/2004,4,OCC,06/30/2004,06/30/2004,0,1.11,0.99,16.49,14.65,09/04/2019,0,N,ND,38101,38,58701,11,3,9757,12923,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.bremer.com,NaN,0,0,SAINT PAUL,326056,0,1,1,0,OTTO BREMER FOUNDATION,2301,1014,13,0,0,1121340,MN,1,0,1.65,1.45,1,2,Agricultural Specialization,0,0,0,0,"Minot, ND",33500,0,0,0,1,0,0,0,0
10,KANSAS,15454,0,0,121 SOUTH 4TH STREET,19793,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,ATWOOD,21,0,NaN,RAWLINS,01/25/1995,0,18041,01/01/1995,01/01/1995,1640,01/01/1893,11,KANSAS CITY,KANSAS CITY,10,983859,0,HAYS,0,1,BIF,NaN,01/04/1937,0,1,1,0,1,NaN,0,0,NaN,State Bank of Atwood,26522,0,4,WESTERN,01/25/1995,4,FDIC,12/31/1994,12/31/1994,1,1.74,1.34,20.99,16.03,09/04/2019,0,N,KS,20153,20,67730,11,4,9764,26522,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,OBERLIN,18041,0,1,1,0,"DECATUR INVESTMENT, INC.",345,66,2,0,0,1137855,KS,0,0,2.52,2.97,1,2,Agricultural Specialization,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
11,WEST VIRGINIA,15459,0,0,MAIN STREET,35995,SM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,NEW MARTINSVILLE,13,0,NaN,WETZEL,10/26/1993,0,31887,09/27/1993,09/27/1993,3605,01/01/1897,5,ATLANTA,ATLANTA,4,640929,0,SCOTT DEPOT,0,1,BIF,NaN,02/08/1937,0,1,1,0,1,NaN,0,0,NaN,Wesbanco Bank New Martinsville,803,0,1,NORTHEAST,10/26/1993,2,FED,06/30/1993,06/30/1993,1,1.33,1.31,13.38,13.04,09/04/2019,0,N,WV,54103,54,26155,5,1,9767,803,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,WHEELING,31887,0,1,0,0,"WESBANCO, INC.",235,116,3,0,0,1070448,WV,0,0,1.92,1.88,0,6,Consumer Lending Specialization,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
12,FLORIDA,15474,0,0,400 NORTH ASHLEY STREET,21588711,N,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14376,OCC,N,TAMPA,3,0,NaN,HILLSBOROUGH,01/03/1996,0,16607326,12/21/1995,12/21/1995,1692017,03/17/1937,5,ATLANTA,ATLANTA,6,147231,1,TAMPA,0,1,BIF,SAIF,03/17/1937,0,1,1,0,1,NaN,0,8280,"Tampa-St. Petersburg-Clearwater, FL MSA","NationsBank of Florida, N.A.",127,1,2,SOUTHEAST,01/03/1996,2,OCC,09/30/1995,09/30/1995,0,1.04,1.19,14.5,15.46,09/04/2019,0,N,FL,12057,12,33602,5,5,9780,3510,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,CHARLOTTE,16607326,0,1,0,0,NATIONSBANK CORPORATION,176928,65074,218,1,0,1073757,NC,0,0,1.71,1.96,1,9,All Other Over 1 Billion,0,0,0,0,"Tampa-St. Petersburg-Clearwater, FL",45300,"Tampa-St. Petersburg-Clearwater, FL",45300,1,0,0,0,0,0
13,KANSAS,15483,11628,0,101 EAST FIFTH STREET,95930,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,HOLTON,21,0,NaN,JACKSON,02/20/2002,0,85087,02/01/2002,02/01/2002,7609,01/01/1937,11,KANSAS CITY,KANSAS CITY,10,682451,0,KANSAS CITY,0,1,BIF,NaN,04/27/1937,0,1,1,0,1,NaN,0,0,NaN,Kansas State Bank,4673,0,4,WESTERN,02/20/2002,4,FDIC,12/31/2001,12/31/2001,1,1.36,1.55,17.48,19.36,09/04/2019,0,N,KS,20085,20,66436,11,4,9786,4673,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,HOLTON,85087,0,0,1,0,"FINANCIAL BANCSHARES, INC.",1267,367,5,0,0,1057261,KS,0,1,1.41,1.62,0,2,Agricultural Specialization,0,0,0,0,"Topeka, KS",45820,"Topeka, KS",45820,1,0,0,0,0,1
14,IOWA,15484,11327,0,302 SOUTH MARKET STREET,133965,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,OSKALOOSA,21,0,NaN,MAHASKA,12/21/2016,0,103977,12/01/2016,12/01/2016,16901,04/15/1937,11,KANSAS CITY,KANSAS CITY,7,68943,0,DES MOINES,0,1,DIF,NaN,04/29/1937,0,0,1,1,1,NaN,0,0,NaN,TruBank,25267,0,4,WESTERN,12/21/2016,4,FDIC,09/30/2016,09/30/2016,1,0.38,0.98,3.28,8.05,09/04/2019,0,N,IA,19123,19,52577,11,4,9787,25267,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.trubank.org,NaN,0,0,INDIANOLA,103977,0,1,0,0,COMMUNITY BANCSHARES CORP.,380,337,3,0,0,2048789,IA,0,0,0.64,1.65,1,4,Commercial Lending Specialization,0,"Oskaloosa-Pella, IA",423,1,"Oskaloosa, IA",36820,0,0,0,1,0,0,0,1
15,TEXAS,15488,0,0,1101 CONWAY STREET,138742,N,211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14383,OCC,N,MISSION,3,0,NaN,HIDALGO,06/05/1990,0,135221,06/01/1990,06/01/1990,860,05/14/1937,13,DALLAS,DALLAS,11,509156,1,HOUSTON,0,1,BIF,NaN,05/14/1937,0,1,1,0,1,NaN,0,4880,"McAllen-Edinburg-Mission, TX MSA","NBC Bank - Rio Grande Valley, National Associa...",27306,0,5,WEST,06/05/1990,5,OCC,03/31/1990,03/31/1990,0,-6.85,-6.85,-465.86,-465.86,09/04/2019,0,N,TX,48215,48,78572,13,5,9791,3510,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,SAN ANTONIO,135221,0,1,0,0,NATIONAL BANCSHARES CORPORATION OF TEXAS,-2398,-2398,4,0,0,1100840,TX,0,0,-6.86,-6.86,0,4,Commercial Lending Specialization,0,"McAllen-Edinburg, TX",365,1,"McAllen-Edinburg-Mission, TX",32580,"McAllen-Edinburg-Mission, TX",32580,1,0,0,0,0,1
16,MICHIGAN,14696,13284,0,MAIN STREET,144486,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,LOWELL,21,0,NaN,KENT,10/06/1997,0,122827,09/30/1997,09/30/1997,9411,01/01/1934,9,CHICAGO,CHICAGO,7,536648,0,GRAND RAPIDS,0,1,BIF,NaN,08/15/1934,0,1,1,0,1,NaN,0,3000,"Grand Rapids-Muskegon-Holland, MI MSA",FMB-State Savings Bank,6560,0,3,CENTRAL,10/06/1997,3,FDIC,06/30/1997,06/30/1997,1,1.54,1.57,23.62,24.19,09/04/2019,0,N,MI,26081,26,49331,9,3,9192,6560,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,HOLLAND,122827,0,1,0,0,FIRST MICHIGAN BANK CORPORATION,1075,551,3,0,0,1200003,MI,0,0,2.14,2.19,0,8,All Other Under 1 Billion,0,"Grand Rapids-Wyoming-Muskegon, MI",266,1,"Grand Rapids-Wyoming, MI",24340,"Grand Rapids-Wyoming, MI",24340,1,0,0,0,0,0
17,IOWA,14700,0,0,119 MAIN STREET,15508,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,KINGSLEY,21,0,NaN,PLYMOUTH,01/23/1997,0,12514,01/07/1997,01/07/1997,2758,12/08/1908,11,KANSAS CITY,KANSAS CITY,7,281041,0,SIOUX CITY,0,1,BIF,NaN,08/15/1934,0,1,1,0,1,NaN,0,0,NaN,Farmers Savings Bank,10894,0,4,WESTERN,01/23/1997,4,FDIC,12/31/1996,12/31/1996,1,0.61,-0.54,3.41,-3.05,09/04/2019,0,N,IA,19149,19,51028,11,4,9195,958,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,PIERSON,12514,0,0,1,0,"PIERSON BANCORPORATION, INC.",93,-21,1,0,0,1134005,IA,0,0,0.87,-0.98,1,2,Agricultural Specialization,0,"Sioux City-Vermillion, IA-SD-NE",512,1,"Sioux City, IA-NE-SD",43580,"Sioux City, IA-NE-SD",43580,1,0,0,0,0,1
18,IOWA,14704,12846,0,"302 THIRD AVENUE, S.E.",257218,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,CEDAR RAPIDS,21,0,NaN,LINN,12/07/2017,0,212302,12/02/2017,12/02/2017,25185,05/05/1934,11,KANSAS CITY,KANSAS CITY,7,184245,0,CEDAR RAPIDS,0,1,DIF,NaN,08/27/1934,0,0,1,1,1,NaN,0,1360,"Cedar Rapids, IA MSA",Guaranty Bank and Trust Company,57244,0,4,WESTERN,12/07/2017,4,FDIC,09/30/2017,09/30/2017,1,0.23,-1.21,2.09,-10.99,09/04/2019,0,N,IA,19113,19,52406,11,4,9198,57244,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.guaranty-bank.com,NaN,0,0,CEDAR RAPIDS,212302,0,0,0,0,"GUARANTY BANKSHARES, LTD.",461,-785,6,0,0,1209444,IA,0,1,0.35,-0.92,1,4,Commercial Lending Specialization,0,"Cedar Rapids-Iowa City, IA",168,1,"Cedar Rapids, IA",16300,"Cedar Rapids, IA",16300,1,0,0,0,0,1
19,IOWA,14691,0,0,1306 FIFTH STREET,20082,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,GILBERTVILLE,21,0,NaN,BLACK HAWK,08/01/1986,0,18507,06/01/1986,06/01/1986,1358,01/01/1912,11,KANSAS CITY,KANSAS CITY,7,565741,0,CEDAR RAPIDS,0,1,BIF,NaN,07/05/1934,0,1,1,0,1,NaN,0,8920,"Waterloo-Cedar Falls, IA MSA",Gilbertville Savings Bank,4518,0,4,WESTERN,08/01/1986,4,FDIC,03/31/1986,03/31/1986,1,0.1,0.1,1.48,1.48,09/04/2019,0,N,IA,19013,19,50634,11,4,9187,12368,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,18507,0,0,1,0,0,5,5,1,0,0,0,0,0,0,0.1,0.1,0,2,Agricultural Specialization,0,0,0,0,"Waterloo-Cedar Falls, IA",47940,"Waterloo-Cedar Falls, IA",47940,1,0,0,0,0,1
20,INDIANA,14714,0,0,430 CLIFTY DRIVE,517072,NM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,MADISON,21,0,NaN,JEFFERSON,03/03/2016,0,417224,03/01/2016,03/01/2016,53444,01/01/1910,9,CHICAGO,CHICAGO,8,322177,0,INDIANAPOLIS,0,1,DIF,NaN,08/28/1934,0,0,1,1,1,NaN,0,0,NaN,River Valley Financial Bank,17393,0,3,CENTRAL,03/03/2016,3,FDIC,12/31/2015,12/31/2015,1,1.05,1.05,10.62,10.2,09/04/2019,0,N,IN,18077,18,47250,9,3,9205,17393,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.rvfbank.com,NaN,0,0,MADISON,417224,0,0,0,0,RIVER VALLEY BANCORP,5375,1345,15,0,0,2466981,IN,1,0,1.39,1.43,1,4,Commercial Lending Specialization,0,Louisville/Jefferson County--Elizabethtown--Ma...,350,1,"Madison, IN",31500,0,0,0,1,0,0,0,1
21,INDIANA,14734,0,0,89 WEST VINCENNES STREET,63684,N,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14258,OCC,N,LINTON,3,0,NaN,GREENE,07/10/1996,0,55621,07/01/1996,07/01/1996,6844,08/29/1934,9,CHICAGO,CHICAGO,8,175047,1,INDIANAPOLIS,0,1,BIF,NaN,08/29/1934,0,1,1,0,1,NaN,0,0,NaN,Citizens' National Bank of Linton,4415,0,3,CENTRAL,07/10/1996,3,OCC,06/30/1996,06/30/1996,0,1.5,1.5,13.81,14.23,09/04/2019,0,N,IN,18055,18,47441,9,3,9215,12368,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,VINCENNES,55621,0,1,0,0,AMBANC CORP.,470,242,2,0,0,1097584,IN,0,0,2.17,2.19,0,8,All Other Under 1 Billion,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1
22,ILLINOIS,14736,13918,0,223 NORTH MILL STREET,406335,N,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14260,OCC,N,PONTIAC,3,0,NaN,LIVINGSTON,01/04/2012,0,322317,12/31/2011,12/31/2011,43671,09/04/1934,9,CHICAGO,CHICAGO,7,36344,1,CHAMPAIGN,0,1,DIF,NaN,09/04/1934,0,0,1,1,1,NaN,0,0,NaN,"Freestar Bank, National Association",4382,0,3,CENTRAL,01/04/2012,3,OCC,09/30/2011,09/30/2011,0,1.3,1.22,12.3,11.37,09/04/2019,0,N,IL,17105,17,61764,9,3,9217,4382,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,www.freestarbank.com,NaN,0,0,PONTIAC,322317,0,0,0,0,PNB HOLDING CO.,3937,1231,13,0,0,1839823,IL,0,1,1.31,1.24,1,4,Commercial Lending Specialization,0,"Bloomington-Pontiac, IL",145,1,"Pontiac, IL",38700,0,0,0,1,0,0,0,1
23,MINNESOTA,14741,10681,0,123 ARMSTRONG BOULEVARD SOUTH,61435,SM,223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,STATE,N,ST. JAMES,13,0,NaN,WATONWAN,08/16/2001,0,53144,07/01/2001,07/01/2001,4903,05/17/1936,11,KANSAS CITY,KANSAS CITY,9,763958,0,MANKATO,0,1,BIF,NaN,05/17/1936,0,1,1,0,1,NaN,0,0,NaN,Citizens State Bank of St. James,5193,0,5,WEST,08/16/2001,NaN,FED,06/30/2001,06/30/2001,1,2.21,2.76,28.52,34.13,09/04/2019,0,N,MN,27165,27,56081,11,3,9219,5193,31-Dec-9999,31-Dec-9999,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PBANK@MCTCNET.NET,NaN,0,0,LAKEVILLE,53144,0,1,1,0,"CITIZENS BANK GROUP, INC.",687,419,1,0,0,1964668,MN,0,1,2.35,2.84,0,2,Agricultural Specialization,0,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN,1

In [9]:
# Print all columns names
print(institutions_df.columns.values)

['STNAME' 'CERT' 'DOCKET' 'ACTIVE' 'ADDRESS' 'ASSET' 'BKCLASS' 'CHANGEC1'
 'CHANGEC2' 'CHANGEC3' 'CHANGEC4' 'CHANGEC5' 'CHANGEC6' 'CHANGEC7'
 'CHANGEC8' 'CHANGEC9' 'CHANGEC10' 'CHANGEC11' 'CHANGEC12' 'CHANGEC13'
 'CHANGEC14' 'CHANGEC15' 'CHARTER' 'CHRTAGNT' 'CONSERVE' 'CITY' 'CLCODE'
 'CMSA_NO' 'CMSA' 'COUNTY' 'DATEUPDT' 'DENOVO' 'DEP' 'EFFDATE' 'ENDEFYMD'
 'EQ' 'ESTYMD' 'FDICDBS' 'FDICREGN' 'FDICSUPV' 'FED' 'FED_RSSD' 'FEDCHRTR'
 'FLDOFF' 'IBA' 'INACTIVE' 'INSAGNT1' 'INSAGNT2' 'INSDATE' 'INSTCRCD'
 'INSBIF' 'INSCOML' 'INSDIF' 'INSFDIC' 'INSSAIF' 'INSSAVE' 'MSA_NO' 'MSA'
 'NAME' 'NEWCERT' 'OAKAR' 'OTSDIST' 'OTSREGNM' 'PROCDATE' 'QBPRCOML'
 'REGAGNT' 'REPDTE' 'RISDATE' 'STCHRTR' 'ROA' 'ROAQ' 'ROE' 'ROEQ'
 'RUNDATE' 'SASSER' 'LAW_SASSER_FLG' 'STALP' 'STCNTY' 'STNUM' 'ZIP'
 'SUPRV_FD' 'OCCDIST' 'UNINUM' 'ULTCERT' 'CFPBEFFDTE' 'CFPBENDDTE'
 'CFPBFLAG' 'REGAGENT2' 'TE01N528' 'TE02N528' 'TE03N528' 'TE04N528'
 'TE05N528' 'TE06N528' 'TE07N528' 'TE08N528' 'TE09N528' 'TE10N528'
 'TE01N529' 'TE02N529' 'TE03N529' 'TE04N529' 'TE05N529' 'TE06N529'
 'WEBADDR' 'OFFICES' 'CERTCONS' 'PARCERT' 'CITYHCR' 'DEPDOM' 'FORM31'
 'HCTMULT' 'INSTAG' 'MUTUAL' 'NAMEHCR' 'NETINC' 'NETINCQ' 'OFFDOM'
 'OFFFOR' 'OFFOA' 'RSSDHCR' 'STALPHCR' 'STMULT' 'SUBCHAPS' 'ROAPTX'
 'ROAPTXQ' 'TRUST' 'SPECGRP' 'SPECGRPN' 'TRACT' 'CSA' 'CSA_NO' 'CSA_FLG'
 'CBSA' 'CBSA_NO' 'CBSA_METRO_NAME' 'CBSA_METRO' 'CBSA_METRO_FLG'
 'CBSA_MICRO_FLG' 'CBSA_DIV' 'CBSA_DIV_NO' 'CBSA_DIV_FLG' 'CB']

In [10]:
# Drop unnessary columns
institutions_df.drop(columns = ['CMSA_NO','CMSA','DOCKET','ACTIVE','CHANGEC1','CHANGEC2','CHANGEC3','CHANGEC4','CHANGEC5','CHANGEC6',\
                                                  'CHANGEC7','CHANGEC8','CHANGEC9','CHANGEC10','CHANGEC11','CHANGEC12','CHANGEC13',\
                                                  'CHANGEC14','CHANGEC15','CHARTER','CHRTAGNT','CONSERVE','DENOVO','FEDCHRTR',\
                                                  'FLDOFF','IBA','INACTIVE','INSAGNT1','INSAGNT2','INSTCRCD','INSBIF','INSCOML',\
                                                  'INSDIF','INSFDIC','INSSAIF','INSSAVE','MSA_NO','MSA','NEWCERT','OAKAR','OTSDIST',\
                                                  'OTSREGNM','PROCDATE','QBPRCOML','REGAGNT','REPDTE','RISDATE','STCHRTR','SASSER',\
                                                  'LAW_SASSER_FLG','CFPBEFFDTE','CFPBENDDTE','CFPBFLAG','REGAGENT2'], inplace= True)

In [12]:
# Print to verify drops
print(institutions_df.columns.values)

['STNAME' 'CERT' 'ADDRESS' 'ASSET' 'BKCLASS' 'CITY' 'CLCODE' 'CMSA_NO'
 'CMSA' 'COUNTY' 'DATEUPDT' 'DEP' 'EFFDATE' 'ENDEFYMD' 'EQ' 'ESTYMD'
 'FDICDBS' 'FDICREGN' 'FDICSUPV' 'FED' 'FED_RSSD' 'INSDATE' 'NAME' 'ROA'
 'ROAQ' 'ROE' 'ROEQ' 'RUNDATE' 'STALP' 'STCNTY' 'STNUM' 'ZIP' 'SUPRV_FD'
 'OCCDIST' 'UNINUM' 'ULTCERT' 'TE01N528' 'TE02N528' 'TE03N528' 'TE04N528'
 'TE05N528' 'TE06N528' 'TE07N528' 'TE08N528' 'TE09N528' 'TE10N528'
 'TE01N529' 'TE02N529' 'TE03N529' 'TE04N529' 'TE05N529' 'TE06N529'
 'WEBADDR' 'OFFICES' 'CERTCONS' 'PARCERT' 'CITYHCR' 'DEPDOM' 'FORM31'
 'HCTMULT' 'INSTAG' 'MUTUAL' 'NAMEHCR' 'NETINC' 'NETINCQ' 'OFFDOM'
 'OFFFOR' 'OFFOA' 'RSSDHCR' 'STALPHCR' 'STMULT' 'SUBCHAPS' 'ROAPTX'
 'ROAPTXQ' 'TRUST' 'SPECGRP' 'SPECGRPN' 'TRACT' 'CSA' 'CSA_NO' 'CSA_FLG'
 'CBSA' 'CBSA_NO' 'CBSA_METRO_NAME' 'CBSA_METRO' 'CBSA_METRO_FLG'
 'CBSA_MICRO_FLG' 'CBSA_DIV' 'CBSA_DIV_NO' 'CBSA_DIV_FLG' 'CB']

In [13]:
# Delete more columns using https://stackoverflow.com/questions/28538536/deleting-multiple-columns-based-on-column-names-in-pandas

institutions_df.drop(institutions_df.columns[36:91], axis = 1, inplace = True)

In [14]:
# Replace NAN values with 0
institutions_df = institutions_df.replace(np.nan,0)
institutions_df.head()

,STNAME,CERT,ADDRESS,ASSET,BKCLASS,CITY,CLCODE,CMSA_NO,CMSA,COUNTY,DATEUPDT,DEP,EFFDATE,ENDEFYMD,EQ,ESTYMD,FDICDBS,FDICREGN,FDICSUPV,FED,FED_RSSD,INSDATE,NAME,ROA,ROAQ,ROE,ROEQ,RUNDATE,STALP,STCNTY,STNUM,ZIP,SUPRV_FD,OCCDIST,UNINUM,ULTCERT
0,PENNSYLVANIA,15698,401 WEST LANCASTER AVENUE,0,SB,HAVERFORD,42,77,"Philadelphia-Wilmington-Atlantic City, PA-NJ-D...",MONTGOMERY,04/07/1982,0,04/03/1982,04/03/1982,0,01/01/1847,2,NEW YORK,NEW YORK,3,897116,11/21/1939,The Western Saving Fund Society of Philadelphia,0,0,0,0,09/04/2019,PA,42091,42,19041,2,1,9966,7946
1,SOUTH CAROLINA,15716,MAIN STREET,5045,NM,SUMMERTON,21,0,0,CLARENDON,10/23/1985,4412,09/16/1985,09/16/1985,585,09/11/1934,5,ATLANTA,ATLANTA,5,577221,01/15/1940,Bank of Summerton,2.08,3.42,19.09,30.52,09/04/2019,SC,45027,45,29148,5,1,9979,873
2,TEXAS,15721,823 CONGRESS AVENUE,345518,N,AUSTIN,3,0,0,TRAVIS,11/03/1992,331568,10/30/1992,10/30/1992,6972,06/05/1936,13,DALLAS,DALLAS,11,7353,02/21/1940,"First City, Texas - Austin, National Association",-2.07,-0.45,-91.84,-22.36,09/04/2019,TX,48453,48,78767,13,5,9983,5510
3,IOWA,15736,606 WEST MILWAUKEE,206135,SM,NEW HAMPTON,13,0,0,CHICKASAW,04/07/2011,188024,03/31/2011,03/31/2011,16414,06/16/1937,11,KANSAS CITY,KANSAS CITY,7,668848,04/15/1940,BANK IOWA,1.09,0.75,13.58,9.09,09/04/2019,IA,19037,19,50659,11,4,9992,14521
4,IOWA,15368,1306 18TH STREET,38799,SM,SPIRIT LAKE,13,0,0,DICKINSON,01/31/2003,26764,10/28/2002,10/28/2002,2615,01/01/1935,11,KANSAS CITY,KANSAS CITY,7,810142,03/24/1936,Security State Bank,3.27,-0.05,46.44,-0.68,09/04/2019,IA,19059,19,51360,11,4,9695,15555

In [15]:
# Print to verify columns name
print(institutions_df.columns.values)

['STNAME' 'CERT' 'ADDRESS' 'ASSET' 'BKCLASS' 'CITY' 'CLCODE' 'CMSA_NO'
 'CMSA' 'COUNTY' 'DATEUPDT' 'DEP' 'EFFDATE' 'ENDEFYMD' 'EQ' 'ESTYMD'
 'FDICDBS' 'FDICREGN' 'FDICSUPV' 'FED' 'FED_RSSD' 'INSDATE' 'NAME' 'ROA'
 'ROAQ' 'ROE' 'ROEQ' 'RUNDATE' 'STALP' 'STCNTY' 'STNUM' 'ZIP' 'SUPRV_FD'
 'OCCDIST' 'UNINUM' 'ULTCERT']

In [16]:
# Rearrenge columns where I only care the first 3 

new_cols = ['NAME', 'CITY', 'STNAME'] + [c for c in institutions_df.columns if c not in ['NAME', 'CITY', 'STNAME']]
                                 
# Re-index after rearrenging
institutions_df = institutions_df.reindex(columns = new_cols)
institutions_df

,NAME,CITY,STNAME,CERT,ADDRESS,ASSET,BKCLASS,CLCODE,CMSA_NO,CMSA,COUNTY,DATEUPDT,DEP,EFFDATE,ENDEFYMD,EQ,ESTYMD,FDICDBS,FDICREGN,FDICSUPV,FED,FED_RSSD,INSDATE,ROA,ROAQ,ROE,ROEQ,RUNDATE,STALP,STCNTY,STNUM,ZIP,SUPRV_FD,OCCDIST,UNINUM,ULTCERT
0,The Western Saving Fund Society of Philadelphia,HAVERFORD,PENNSYLVANIA,15698,401 WEST LANCASTER AVENUE,0,SB,42,77,"Philadelphia-Wilmington-Atlantic City, PA-NJ-D...",MONTGOMERY,04/07/1982,0,04/03/1982,04/03/1982,0,01/01/1847,2,NEW YORK,NEW YORK,3,897116,11/21/1939,0,0,0,0,09/04/2019,PA,42091,42,19041,2,1,9966,7946
1,Bank of Summerton,SUMMERTON,SOUTH CAROLINA,15716,MAIN STREET,5045,NM,21,0,0,CLARENDON,10/23/1985,4412,09/16/1985,09/16/1985,585,09/11/1934,5,ATLANTA,ATLANTA,5,577221,01/15/1940,2.08,3.42,19.09,30.52,09/04/2019,SC,45027,45,29148,5,1,9979,873
2,"First City, Texas - Austin, National Association",AUSTIN,TEXAS,15721,823 CONGRESS AVENUE,345518,N,3,0,0,TRAVIS,11/03/1992,331568,10/30/1992,10/30/1992,6972,06/05/1936,13,DALLAS,DALLAS,11,7353,02/21/1940,-2.07,-0.45,-91.84,-22.36,09/04/2019,TX,48453,48,78767,13,5,9983,5510
3,BANK IOWA,NEW HAMPTON,IOWA,15736,606 WEST MILWAUKEE,206135,SM,13,0,0,CHICKASAW,04/07/2011,188024,03/31/2011,03/31/2011,16414,06/16/1937,11,KANSAS CITY,KANSAS CITY,7,668848,04/15/1940,1.09,0.75,13.58,9.09,09/04/2019,IA,19037,19,50659,11,4,9992,14521
4,Security State Bank,SPIRIT LAKE,IOWA,15368,1306 18TH STREET,38799,SM,13,0,0,DICKINSON,01/31/2003,26764,10/28/2002,10/28/2002,2615,01/01/1935,11,KANSAS CITY,KANSAS CITY,7,810142,03/24/1936,3.27,-0.05,46.44,-0.68,09/04/2019,IA,19059,19,51360,11,4,9695,15555
5,"The Farmers and Merchants State Bank, Effingha...",EFFINGHAM,KANSAS,15385,MAIN STREET,23986,NM,21,0,0,ATCHISON,09/27/1999,21066,09/10/1999,09/10/1999,2469,06/05/1905,11,KANSAS CITY,KANSAS CITY,10,977456,05/14/1936,1.37,1.41,13.21,13.57,09/04/2019,KS,20005,20,66023,11,4,9707,4619
6,First Marine National Bank and Trust Company o...,LAKE WORTH,FLORIDA,15391,114 NORTH J STREET,119732,N,3,0,0,PALM BEACH,10/12/1979,108357,09/29/1979,09/29/1979,"10,183",06/01/1936,5,ATLANTA,ATLANTA,6,660936,06/01/1936,0,0,0,0,09/04/2019,FL,12099,12,33460,5,5,9711,3510
7,Commercial Bank,STRATTON,NEBRASKA,15419,BAILEY STREET,16063,NM,21,0,0,HITCHCOCK,10/07/2003,14031,09/08/2003,09/08/2003,1670,01/01/1887,11,KANSAS CITY,KANSAS CITY,10,658456,01/01/1934,0.82,0.69,8.07,6.78,09/04/2019,NE,31087,31,69043,11,4,9735,5434
8,Bank of Sequim,SEQUIM,WASHINGTON,15430,103 EAST WASHINGTON AVENUE,23870,NM,21,0,0,CLALLAM,08/27/1976,21434,08/24/1976,08/24/1976,"1,749",10/08/1936,14,SAN FRANCISCO,SAN FRANCISCO,12,76573,10/26/1936,0,0,0,0,09/04/2019,WA,53009,53,98382,14,4,9744,3510
9,"Bremer Bank, National Association",MINOT,NORTH DAKOTA,15445,"20 FIRST STREET, S.W.",415456,N,3,0,0,WARD,09/30/2004,326056,08/23/2004,08/23/2004,26666,01/01/1934,11,KANSAS CITY,KANSAS CITY,9,760555,01/01/1934,1.11,0.99,16.49,14.65,09/04/2019,ND,38101,38,58701,11,3,9757,12923
10,State Bank of Atwood,ATWOOD,KANSAS,15454,121 SOUTH 4TH STREET,19793,NM,21,0,0,RAWLINS,01/25/1995,18041,01/01/1995,01/01/1995,1640,01/01/1893,11,KANSAS CITY,KANSAS CITY,10,983859,01/04/1937,1.74,1.34,20.99,16.03,09/04/2019,KS,20153,20,67730,11,4,9764,26522
11,Wesbanco Bank New Martinsville,NEW MARTINSVILLE,WEST VIRGINIA,15459,MAIN STREET,35995,SM,13,0,0,WETZEL,10/26/1993,31887,09/27/1993,09/27/1993,3605,01/01/1897,5,ATLANTA,ATLANTA,4,640929,02/08/1937,1.33,1.31,13.38,13.04,09/04/2019,WV,54103,54,26155,5,1,9767,803
12,"NationsBank of Florida, N.A.",TAMPA,FLORIDA,15474,400 NORTH ASHLEY STREET,21588711,N,3,0,0,HILLSBOROUGH,01/03/1996,16607326,12/21/1995,12/21/1995,1692017,03/17/1937,5,ATLANTA,ATLANTA,6,147231,03/17/1937,1.04,1.19,14.5,15.46,09/04/2019,FL,12057,12,33602,5,5,9780,3510
13,Kansas State Bank,HOLTON,KANSAS,15483,101 EAST FIFTH STREET,95930,NM,21,0,0,JACKSON,02/20/2002,85087,02/01/2002,02/01/2002,7609,01/01/1937,11,KANSAS CITY,KANSAS CITY,10,682451,04/27/1937,1.36,1.55,17.48,19.36,09/04/2019,KS,20085,20,66436,11,4,9786,4673
14,TruBank,OSKALOOSA,IOWA,15484,302 SOUTH MARKET STREET,133965,NM,21,0,0,MAHASKA,12/21/2016,103977,12/01/2016,12/01/2016,16901,04/15/1937,11,KANSAS CITY,KANSAS CITY,7,68943,04/29/1937,0.38,0.98,3.28,8.05,09/04/2019,IA,19123,19,52577,11,4,9787,25267
15,"NBC Bank - Rio Grande Valley, National Associa...",MISSION,TEXAS,15488,1101 CONWAY STREET,138742,N,3,0,0,HIDALGO,06/05/1990,135221,06/01/1990,06/01/1990,860,05/14/1937,13,DALLAS,DALLAS,11,509156,05/14/1937,-6.85,-6.85,-465.86,-465.86,09/04/2019,TX,48215,48,78572,13,5,9791,3510
16,FMB-State Savings Bank,LOWELL,MICHIGAN,14696,MAIN STREET,144486,NM,21,0,0,KENT,10/06/1997,122827,09/30/1997,09/30/1997,9411,01/01/1934,9,CHICAGO,CHICAGO,7,536648,08/15/1934,1.54,1.57,23.62,24.19,09/04/2019,MI,26081,26,49331,9,3,9192,6560
17,Farmers Savings Bank,KINGSLEY,IOWA,14700,119 MAIN STREET,15508,NM,21,0,0,PLYMOUTH,01/23/1997,12514,01/07/1997,01/07/1997,2758,12/08/1908,11,KANSAS CITY,KANSAS CITY,7,281041,08/15/1934,0.61,-0.54,3.41,-3.05,09/04/2019,IA,19149,19,51028,11,4,9195,958
18,Guaranty Bank and Trust Company,CEDAR RAPIDS,IOWA,14704,"302 THIRD AVENUE, S.E.",257218,NM,21,0,0,LINN,12/07/2017,212302,12/02/2017,12/02/2017,25185,05/05/1934,11,KANSAS CITY,KANSAS CITY,7,184245,08/27/1934,0.23,-1.21,2.09,-10.99,09/04/2019,IA,19113,19,52406,11,4,9198,57244
19,Gilbertville Savings Bank,GILBERTVILLE,IOWA,14691,1306 FIFTH STREET,20082,NM,21,0,0,BLACK HAWK,08/01/1986,18507,06/01/1986,06/01/1986,1358,01/01/1912,11,KANSAS CITY,KANSAS CITY,7,565741,07/05/1934,0.1,0.1,1.48,1.48,09/04/2019,IA,19013,19,50634,11,4,9187,12368
20,River Valley Financial Bank,MADISON,INDIANA,14714,430 CLIFTY DRIVE,517072,NM,21,0,0,JEFFERSON,03/03/2016,417224,03/01/2016,03/01/2016,53444,01/01/1910,9,CHICAGO,CHICAGO,8,322177,08/28/1934,1.05,1.05,10.62,10.2,09/04/2019,IN,18077,18,47250,9,3,9205,17393
21,Citizens' National Bank of Linton,LINTON,INDIANA,14734,89 WEST VINCENNES STREET,63684,N,3,0,0,GREENE,07/10/1996,55621,07/01/1996,07/01/1996,6844,08/29/1934,9,CHICAGO,CHICAGO,8,175047,08/29/1934,1.5,1.5,13.81,14.23,09/04/2019,IN,18055,18,47441,9,3,9215,12368
22,"Freestar Bank, National Association",PONTIAC,ILLINOIS,14736,223 NORTH MILL STREET,406335,N,3,0,0,LIVINGSTON,01/04/2012,322317,12/31/2011,12/31/2011,43671,09/04/1934,9,CHICAGO,CHICAGO,7,36344,09/04/1934,1.3,1.22,12.3,11.37,09/04/2019,IL,17105,17,61764,9,3,9217,4382
23,Citizens State Bank of St. James,ST. JAMES,MINNESOTA,14741,123 ARMSTRONG BOULEVARD SOUTH,61435,SM,13,0,0,WATONWAN,08/16/2001,53144,07/01/2001,07/01/2001,4903,05/17/1936,11,KANSAS CITY,KANSAS CITY,9,763958,05/17/1936,2.21,2.76,28.52,34.13,09/04/2019,MN,27165,27,56081,11,3,9219,5193
24,FMB-Maynard Allen Bank,PORTLAND,MICHIGAN,14747,1235 EAST BRIDGE STREET,79506,NM,21,0,0,IONIA,10/06/1997,69606,09/30/1997,09/30/1997,5197,01/01/1906,9,CHICAGO,CHICAGO,7,780544,07/16/1934,1.24,1.27,19.27,19.75,09/04/2019,MI,26067,26,48875,9,3,9225,6560
25,Firstar Bank Mount Pleasant,MOUNT PLEASANT,IOWA,14750,301 EAST WASHINGTON STREET,103155,NM,21,0,0,HENRY,12/27/1995,89051,11/06/1995,11/06/1995,8574,02/01/1891,11,KANSAS CITY,KANSAS CITY,7,704344,09/20/1934,1.31,1.46,16.01,17.58,09/04/2019,IA,19087,19,52641,11,4,9227,6548
26,Omnibank,RIVER ROUGE,MICHIGAN,14758,10474 WEST JEFFERSON STREET,42038,SM,13,35,"Detroit-Ann Arbor-Flint, MI CMSA",WAYNE,05/06/1998,40462,04/09/1998,04/09/1998,584,03/01/1919,9,CHICAGO,CHICAGO,7,786845,09/22/1934,-6.62,-17.59,-149.03,-498.97,09/04/2019,MI,26163,26,48218,9,3,9230,57754
27,Bradford Banking Company,BRADFORD,ILLINOIS,14763,179 WEST MAIN,17222,NM,21,0,0,STARK,02/10/1994,15769,01/10/1994,01/10/1994,1399,01/01/1920,9,CHICAGO,CHICAGO,7,398435,10/08/1934,0.89,0,9.95,0,09/04/2019,IL,17175,17,61421,9,3,9233,926
28,Valley National Bank of Fremont County,HAMBURG,IOWA,14787,MAIN STREET,6952,N,3,0,0,FREMONT,06/07/2006,6809,04/29/1993,04/29/1993,111,01/01/1918,11,KANSAS CITY,KANSAS CITY,7,293343,10/03/1934,0,0,0,0,09/04/2019,IA,19071,19,51640,11,4,9249,15289
29,The Tingley State Savings Bank,MOUNT AYR,IOWA,14796,100 EAST SOUTH STREET,19404,NM,21,0,0,RINGGOLD,08/22/1984,18478,08/10/1984,08/10/1984,739,03/04/1904,11,KANSAS CITY,KANSAS CITY,7,367842,10/10/1934,-2.36,-4.26,-50.8,-98.3,09/04/2019,IA,19159,19,50854,11,4,9258,6548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27585,Merchants Commercial Bank,ST THOMAS,VIRGIN ISLANDS OF THE U.S.,58184,4608 TUTU PARK MALL,246308,NM,21,0,0,ST. THOMAS,03/21/2011,226720,03/27/2009,12/31/9999,18085,10/30/2006,2,NEW YORK,NEW YORK,2,3487433,10/30/2006,1.47,1.47,20.84,20.84,09/04/2019,VI,78030,78,00802,2,1,441417,58184
27586,Security Bank,STEPHENS,ARKANSAS,16395,108 RUBY STREET,68273,NM,21,0,0,OUACHITA,11/03/2006,60670,03/31/2006,12/31/9999,6362,04/01/1946,13,DALLAS,DALLAS,8,741648,04/01/1946,0.93,0.93,10.09,10.09,09/04/2019,AR,05103,5,71764,13,5,10573,16395
27587,Latimer State Bank,WILBURTON,OKLAHOMA,22839,301 WEST MAIN STREET,68141,NM,21,0,0,LATIMER,11/03/2006,53905,03/31/2006,12/31/9999,14169,04/09/1979,13,DALLAS,DALLAS,10,51356,04/09/1979,1.03,1.03,4.99,4.99,09/04/2019,OK,40077,40,74578,13,5,15955,22839
27588,"Sage Capital Bank,",GONZALES,TEXAS,25621,1606 NORTH SARAH DEWITT DRIVE,409488,NM,21,0,0,GONZALES,01/05/2018,362038,12/29/2017,12/31/9999,45149,07/12/1984,13,DALLAS,DALLAS,11,448554,07/12/1984,0.85,0.85,7.71,7.71,09/04/2019,TX,48177,48,78629,13,5,17542,25621
27589,Peoples Bank,COLDWATER,KANSAS,14636,101 EAST MAIN STREET,51012,SM,13,0,0,COMANCHE,11/03/2006,41511,03/31/2006,12/31/9999,6879,12/05/1905,11,KANSAS CITY,KANSAS CITY,10,723756,08/06/1934,0.92,0.92,6.99,6.99,09/04/2019,KS,20033,20,67029,11,4,9151,14636
27590,The FNB Community Bank,VANDALIA,ILLINOIS,3840,432 WEST GALLATIN STREET,342032,SM,13,0,0,FAYETTE,07/02/2019,287375,06/28/2019,12/31/9999,46318,01/01/1865,9,CHICAGO,CHICAGO,8,137447,01/01/1934,1.35,1.35,10.07,10.07,09/04/2019,IL,17051,17,62471,9,3,2498,3840
27591,United Roosevelt Savings Bank,CARTERET,NEW JERSEY,29170,11-15 COOKE AVENUE,135770,SB,41,70,"New York-Northern New Jersey-Long Island, NY-N...",MIDDLESEX,04/03/2015,112518,04/01/2015,12/31/9999,13217,01/01/1914,2,NEW YORK,NEW YORK,2,644776,02/13/1940,0.12,0.12,1.18,1.18,09/04/2019,NJ,34023,34,07008,2,1,42004,29170
27592,Maxwell State Bank,MAXWELL,IOWA,15930,122 MAIN STREET,28059,NM,21,0,0,STORY,11/03/2006,21991,03/31/2006,12/31/9999,5365,02/01/1943,11,KANSAS CITY,KANSAS CITY,7,694146,02/01/1943,1.34,1.34,7.15,7.15,09/04/2019,IA,19169,19,50161,11,4,10162,15930
27593,Touchstone Bank,PRINCE GEORGE,VIRGINIA,6139,4300 CROSSINGS BOULEVARD,439348,SM,13,0,0,PRINCE GEORGE,01/29/2019,374627,03/19/2018,12/31/9999,44951,01/01/1906,5,ATLANTA,ATLANTA,5,746429,01/01/1934,0.5,0.5,4.85,4.85,09/04/2019,VA,51149,51,23875,5,1,4143,6139
27594,The Clinton National Bank,CLINTON,IOWA,4439,"235 SIXTH AVENUE, SOUTH",405430,N,3,0,0,CLINTON,04/02/2007,338807,02/23/2007,12/31/9999,51792,05/01/1865,11,KANSAS CITY,KANSAS CITY,7,773443,01/01/1934,0.37,0.37,2.83,2.83,09/04/2019,IA,19045,19,52732,11,4,2932,4439
27595,"Chain Bridge Bank, National Association",MCLEAN,VIRGINIA,58595,1445-A LAUGHLIN AVENUE,614908,N,3,97,"Washington-Baltimore, DC-MD-VA-WV CMSA",FAIRFAX,08/07/2007,563429,08/06/2007,12/31/9999,49200,08/06/2007,5,ATLANTA,ATLANTA,5,3597211,08/06/2007,0.57,0.57,6.5,6.5,09/04/2019,VA,51059,51,22101,5,1,457576,58595
27596,CNB Bank,CLEARFIELD,PENNSYLVANIA,13876,ONE SOUTH SECOND STREET,3268271,NM,21,0,0,CLEARFIELD,10/21/2016,2658734,07/15/2016,12/31/9999,321463,01/27/1934,2,NEW YORK,NEW YORK,3,399517,02/09/1934,1.19,1.19,12.14,12.14,09/04/2019,PA,42033,42,16830,2,1,8676,13876
27597,Walcott Trust and Savings Bank,WALCOTT,IOWA,12716,101 WEST BRYANT STREET,130037,NM,21,0,0,SCOTT,10/01/2018,106646,10/01/2018,12/31/9999,19007,05/15/1931,11,KANSAS CITY,KANSAS CITY,7,495044,01/01/1934,0.39,0.39,2.58,2.58,09/04/2019,IA,19163,19,52773,11,4,8064,12716
27598,CenBank,BUFFALO LAKE,MINNESOTA,8848,109 WEST YELLOWSTONE TRAIL,69093,NM,21,0,0,RENVILLE,02/05/2007,62174,01/31/2007,12/31/9999,5302,01/01/1893,11,KANSAS CITY,KANSAS CITY,9,308256,01/01/1934,1.06,1.06,14.14,14.14,09/04/2019,MN,27129,27,55314,11,3,5643,8848
27599,Hickory Point Bank and Trust,DECATUR,ILLINOIS,22874,225 NORTH WATER STREET,634515,NM,21,0,0,MACON,03/31/2016,559539,03/31/2016,12/31/9999,66613,06/04/1979,9,CHICAGO,CHICAGO,7,550635,06/04/1979,1.11,1.11,10.75,10.75,09/04/2019,IL,17115,17,62523,9,3,15985,22874
27600,First Columbia Bank & Trust Co.,BLOOMSBURG,PENNSYLVANIA,686,232 EAST STREET,721800,NM,21,0,0,COLUMBIA,05/05/2012,529415,12/31/2008,12/31/9999,90503,02/01/1926,2,NEW YORK,NEW YORK,3,881012,01/01/1934,1.14,1.14,9.16,9.16,09/04/2019,PA,42037,42,17815,2,1,447,686
27601,Iroquois Farmers State Bank,IROQUOIS,ILLINOIS,11746,111 W LINCOLN ST,111778,NM,21,0,0,IROQUOIS,10/11/2016,100904,10/01/2016,12/31/9999,10276,01/01/1919,9,CHICAGO,CHICAGO,7,1007930,01/01/1934,1.03,1.03,11.16,11.16,09/04/2019,IL,17075,17,60945,9,3,7511,11746
27602,Washington Savings Bank,LOWELL,MASSACHUSETTS,90229,30 MIDDLESEX STREET,250388,SM,15,7,"Boston-Worcester-Lawrence, MA-NH-ME-CT CMSA",MIDDLESEX,03/30/2012,196048,03/19/2012,12/31/9999,21556,04/06/1892,2,NEW YORK,NEW YORK,1,654300,10/10/1985,0.54,0.54,6.35,6.35,09/04/2019,MA,25017,25,01852,2,1,17819,90229
27603,First Southwest Bank,ALAMOSA,COLORADO,57741,720 MAIN STREET,303155,NM,21,0,0,ALAMOSA,06/30/2017,263204,03/18/2015,12/31/9999,31422,07/09/2004,13,DALLAS,DALLAS,10,3224302,07/09/2004,0.72,0.72,7.01,7.01,09/04/2019,CO,08003,8,81101,13,4,423296,57741
27604,Brighton Bank,SALT LAKE CITY,UTAH,22578,7101 HIGHLAND DRIVE,209117,NM,21,0,0,SALT LAKE,06/01/2017,182292,06/01/2017,12/31/9999,26375,01/03/1978,14,SAN FRANCISCO,SAN FRANCISCO,12,406974,01/03/1978,2.46,2.46,20.06,20.06,09/04/2019,UT,49035,49,84121,14,4,15750,22578
27605,The Bank of Protection,PROTECTION,KANSAS,23099,236 NORTH BROADWAY,68672,NM,21,0,0,COMANCHE,12/07/2010,54093,10/09/2010,12/31/9999,9831,04/02/1980,11,KANSAS CITY,KANSAS CITY,10,531157,04/02/1980,1.2,1.2,8.62,8.62,09/04/2019,KS,20033,20,67127,11,4,16182,23099
27606,Citizens State Bank,VERNON,ALABAMA,22523,315 COLUMBUS AVENUE NW,69595,NM,21,0,0,LAMAR,02/24/2011,45043,02/24/2011,12/31/9999,10251,09/09/1977,5,ATLANTA,ATLANTA,6,139834,09/09/1977,1.03,1.03,7,7,09/04/2019,AL,01075,1,35592,5,5,15709,22523
27607,Peoples Trust Company of St. Albans,SAINT ALBANS,VERMONT,14168,25 KINGMAN STREET,269385,NM,21,0,0,FRANKLIN,10/03/2011,230780,09/19/2011,12/31/9999,33555,11/12/1866,2,NEW YORK,NEW YORK,1,463605,04/02/1934,0.68,0.68,5.53,5.53,09/04/2019,VT,50011,50,05478,2,1,8844,14168
27608,First National Bank,PARAGOULD,ARKANSAS,3887,200 WEST COURT STREET,1655732,N,3,0,0,GREENE,09/12/2018,1338926,08/01/2018,12/31/9999,168300,03/22/1889,13,DALLAS,DALLAS,8,42448,01/01/1934,1.12,1.12,11.15,11.15,09/04/2019,AR,05055,5,72450,13,5,2535,3887
27609,Neighbors Bank,CLARENCE,MISSOURI,16247,101 EAST CHESTNUT,26035,NM,21,0,0,SHELBY,07/11/2019,21613,07/08/2019,12/31/9999,4317,03/31/1945,11,KANSAS CITY,KANSAS CITY,8,503640,04/07/1945,-0.47,-0.47,-2.86,-2.86,09/04/2019,MO,29205,29,63437,11,4,10441,16247
27610,Troy Bank & Trust Company,TROY,ALABAMA,5598,1000 HIGHWAY 231 SOUTH,912723,NM,21,0,0,PIKE,09/24/2008,777333,07/01/2008,12/31/9999,107713,01/01/1906,5,ATLANTA,ATLANTA,6,134437,01/01/1934,0.96,0.96,8.07,8.07,09/04/2019,AL,01109,1,36081,5,5,3811,5598
27611,First State Bank,ELMORE CITY,OKLAHOMA,18924,206 S MAIN ST,12885,NM,21,0,0,GARVIN,03/19/2019,8788,12/31/2018,12/31/9999,1812,01/01/1903,13,DALLAS,DALLAS,10,116554,10/24/1963,2.88,2.88,21.56,21.56,09/04/2019,OK,40049,40,73433,13,5,12771,18924
27612,The Farmers National Bank of Canfield,CANFIELD,OHIO,6540,20 SOUTH BROAD STREET,2335841,N,3,0,0,MAHONING,08/31/2017,1959300,08/16/2017,12/31/9999,254487,02/17/1887,9,CHICAGO,CHICAGO,4,680813,01/01/1934,1.38,1.38,12.85,12.85,09/04/2019,OH,39099,39,44406,9,3,4377,6540
27613,Santa Cruz County Bank,SANTA CRUZ,CALIFORNIA,57591,75 RIVER STREET,668098,NM,21,84,"San Francisco-Oakland-San Jose, CA CMSA",SANTA CRUZ,09/11/2018,581734,09/04/2018,12/31/9999,71466,02/03/2004,14,SAN FRANCISCO,SAN FRANCISCO,12,3235410,02/03/2004,1.78,1.78,16.94,16.94,09/04/2019,CA,06087,6,95060,14,4,366199,57591
27614,Encore Bank,NAPLES,FLORIDA,58376,3003 TAMAIMI TRAIL,391634,NM,21,0,0,COLLIER,04/27/2018,343570,04/20/2018,04/20/2018,40829,06/04/2007,5,ATLANTA,ATLANTA,6,3603457,06/04/2007,1.08,1.08,10.34,10.34,09/04/2019,FL,12021,12,34103,5,5,448927,58376

## Save to CSV and JSON

In [18]:
# Save to CSV and JSON

institutions_df.to_csv("../financial_instituttions_data/institutions_clean.csv", index=False, encoding='utf8')
locations_df.to_csv("../financial_instituttions_data/locations_clean.csv", index=False, encoding='utf8')


institutions_df.to_json("../financial_instituttions_data/institutions_clean.json", orient='columns')
locations_df.to_json("../financial_instituttions_data/locations_clean.json", orient='columns')